[2016-06-04 02:45] jcob-ross opened #1 "Swagger / UI is awailable under beta9 package"
Hi, I was just browsing around and found this.

RC2 repo is under https://github.com/domaindrivendev/Ahoy

Creating API without swagger is just miserable experience for me, so here you go.

 "Swashbuckle.SwaggerGen": "6.0.0-beta9",
 "Swashbuckle.SwaggerUi": "6.0.0-beta9",

[2016-06-05 09:24] asadsahi commented on #1
Thanks @jcob-ross

I have added support for Swagger.

[2016-06-05 09:24] #1 closed

[2016-07-20 19:55] crh225 opened #2 "Demo is down"
Nothing happens when I go to
http://aspnetcorespa.azurewebsites.net/

[2016-07-27 22:21] asadsahi commented on #2
Should be fixed now. Azure doesn't play nice with full npm installation sometimes.

[2016-07-27 22:21] #2 closed

[2016-08-12 19:52] crh225 opened #3 "app.component.ts:23 Uncaught Error: Cannot find module "./app.component.scss"(…)"
I get an error when following the install instructions and then running via command line.
app.component.ts:23 Uncaught Error: Cannot find module "./app.component.scss"(…)

Im sure something is not installed on my system. Any help would be greatly appreciated!

[2016-08-12 19:59] crh225 commented on #3
I had to run npm install node-sass sass-loader raw-loader --save-dev

[2016-08-12 19:59] #3 closed

[2016-08-12 21:32] crh225 opened #4 "karma tests"
cannot get tests to run.

I used npm run test and get the following errors:

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "run" "tslint" "Client/**/*.ts"
npm ERR! node v4.4.7
npm ERR! npm  v2.15.8
npm ERR! code ELIFECYCLE
npm ERR! aspnetnetcore@0.0.0 tslint: `tslint "Client/**/*.ts"`
npm ERR! Exit

[2016-08-15 09:22] asadsahi commented on #4
Thanks for letting me know.

According to angular.io [docs](https://angular.io/docs/ts/latest/guide/testing.html), testing guidelines aren't final yet, so I will hang on, before making changes as per RC5 in this project.

[2016-08-15 14:51] crh225 commented on #4
Demo is down again. http://aspnetcorespa.azurewebsites.net/

Is there anything I can help work on?

[2016-08-15 18:22] asadsahi commented on #4
Hi @crh225 , thanks for the offer. Sure, there is always something which can be improved. :)

Couple of things pending as per my understanding are:

1) Client unit tests
2) Production build with webpack is broken since RC5 upgrade. Not sure why, so this is something can be picked up as well.
3) No server side unit tests added as well yet.

Any other good idea? I am happy to accept any pull request

[2016-08-15 18:26] asadsahi commented on #3
I have changed from require syntax to url based loading of html and scss files using angular2-template-loader now.

Glad you resolved it though. :+1:

[2016-08-15 19:05] crh225 commented on #4
@asadsahi, I don't know if there's any other way of asking my questions than through comments on issues, but what do the plus signs mean in the components? Is this something new in rc5, or just a convention you use?

[2016-08-15 20:17] crh225 commented on #4
Accoring to http://stackoverflow.com/questions/38895087/tests-are-failing-after-angular-2-rc5, angular removed references to jasmine in @angular/core/testing

Need to install typings for jasmin globally: typings install jasmin --source dt --global

all spec files need to be changed apparently. beforeEachProviders becomes beforeEach, and we need to remove the unnecessary imports.

When I got kamra

[2016-08-15 20:26] crh225 commented on #4
# #5

[2016-08-15 20:32] crh225 opened #6 "lint is failing"
If I run tsling "Client/**/*.ts" it runs fine, but does show lint cleanup issues that still need work, but no error. If I run npm run lint or npm run ci, I get the following error messages.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\
node_modules\\npm\\bin\\npm-cli.js" "run" "tslint" "Client/**/*.ts"
npm ERR! node v4.4.7
npm ERR! np

[2016-08-15 21:16] asadsahi commented on #4
@crh225  thanks for helping.

+ signs are conventions to prefix folder with modules which will be lazily loaded as explained in angular 2 guidelines [here](https://angular.io/docs/ts/latest/guide/style-guide.html#!#04-12).

[2016-08-15 21:27] #4 closed

[2016-08-16 15:16] crh225 commented on #6
this can be closed when #7 is merged

[2016-08-16 17:29] crh225 opened #8 "npm run docs error"
cannot generate docs. this is due to an issue in tsconfig. if you remove the comment the docs generate. Im opening an issue for a paper trail. will add the fix to my pull request

[2016-08-16 17:33] crh225 commented on #8
now added to pull request #7

[2016-08-16 18:48] crh225 opened #9 "protractor issue: on hold"
There is a bug with protractor, but it is waiting on another library to be fixed (of course). there is a work around.

https://bugs.chromium.org/p/chromedriver/issues/detail?id=1464#c2

[2016-08-16 19:05] asadsahi commented on #8
Merged branch.

[2016-08-16 19:05] #8 closed

[2016-08-16 19:05] #6 closed

[2016-08-17 11:44] martinoss opened #11 "Typings installation fails"
`typings install` fail with following error:

`Unable to read typings for "angular2-beta-to-rc-alias". You should check the entry paths in "typings.d.ts" are up to date`

{
  "globalDependencies": {
    "angular2-beta-to-rc-alias": "file:./node_modules/**@angularclass**/angular2-beta-to-rc-alias/src/beta-17/typings.d.ts",
    "es6-collections": "registry:dt/es6-collections#0.5.1+20160316155526",

[2016-08-17 13:33] asadsahi commented on #11
we don't need these typings, however I checked in missing typings for es6promise and jasmine.

[2016-08-17 13:33] #11 closed

[2016-08-17 14:26] crh225 commented on #9
see also: https://github.com/AngularClass/angular2-webpack-starter/issues/615

[2016-08-18 06:50] martinoss opened #14 "webpack-dev-server missing in dev dependencies"
Several package.json scripts are referring to the webpack-dev-server

[2016-08-18 07:00] martinoss opened #15 "build scripts not working"
I guess `... config/webpack.dev.config.js ...` needs to be `... config config/webpack.config.js ...` and the environment variable has to be set in the command aswell.
Otherwise the configurations will not be merged.

[2016-08-18 07:35] martinoss opened #16 "code coverage report not for typescript"
**remap-istanbul** should do the job

https://www.sitepen.com/blog/2015/09/29/code-coverage-for-typescript-and-other-transpiled-languages/

[2016-08-18 07:38] martinoss opened #17 "e2e tests with protractor not working"
... due to missing protractor configuration file

[2016-08-18 07:59] asadsahi commented on #17
@martinoss #9 refers to the same issue I guess I will add the reference of this issue in #9

[2016-08-18 07:59] #17 closed

[2016-08-18 08:05] asadsahi commented on #14
@martinoss becuase this project was based on angular 2 webpack starter project, It was easier to do some copy paste for the dependencies and scripts. Needs some cleaning. Will look into this.

[2016-08-18 08:08] asadsahi commented on #16
@martinoss If you have worked on typescript coverage previously, would you mind implementing this and create a pull request?

[2016-08-18 08:16] asadsahi commented on #14
@martinoss we don't need webpack-dev-server. As we this is a .net project and webpack is running in .net process. We have to rely on webpack-dev-middleware which .net javascript services project offers. Also, I have removed reference of running dev server and creating dev and production builds using npm scripts as that is something handled by asp.net core javascript services package. Read more [he

[2016-08-18 08:16] #14 closed

[2016-08-18 08:19] asadsahi commented on #15
removed these scripts as the build is created as part of deployment process in project.json file. We don't have to run it separately.

[2016-08-18 08:19] #15 closed

[2016-08-18 11:16] asadsahi commented on #9
@crh225  can't see any bug with protractor or webdriver. Works fine for me. I have fixed the e2e with some commands in readme. Run the e2e tests using `npm run e2e` and you should be able succeed with one test verifying the title of the site. Closing this for now.

[2016-08-18 11:16] #9 closed

[2016-08-18 13:25] nicolasmeier opened #18 "dotnet run : no such file"
`[Node] { [Error: ENOENT: no such file or directory, open 'C:\GIT\asad\AspNetCoreSpa\typings\globals\angular-protractor\index.d.ts']`

there is no `angular-protractor` folder

[2016-08-18 13:39] nicolasmeier commented on #18
had to do `npm i` again

[2016-08-18 13:39] #18 closed

[2016-08-18 15:28] nicolasmeier opened #19 "favicon not working"
the file `wwwroot/favicon.ico` does not work / is corrupted

[2016-08-18 15:36] nicolasmeier commented on #19
i suggest using [this]( https://angularjs.org/favicon.ico)

https://angularjs.org/favicon.ico

[2016-08-18 18:48] crh225 commented on #19
Can be closed with merge

[2016-08-18 21:28] asadsahi commented on #19
@nicolasmeier Thanks for identifying.
@crh225 Thanks for fixing.

[2016-08-18 21:28] #19 closed

[2016-08-19 09:58] #16 closed

[2016-08-19 13:09] martinoss opened #23 "karma: if there is a unit test error, there is somewhat of a hard landing of karma"
![image](https://cloud.githubusercontent.com/assets/2587942/17810719/18310f58-661f-11e6-9a84-dfe2be8a5653.png)

[2016-08-19 13:15] crh225 commented on #23
@martinoss, how are you running the tests? what does **karma start** ?

[2016-08-19 13:20] nicolasmeier commented on #23
@crh225 he is runnig `npm run start`

[2016-08-19 13:21] crh225 commented on #23
When I would run the actual karma command, it always runs better than with the npm commands.

[2016-08-19 13:30] nicolasmeier commented on #23
here is the output from `karma run`
![karma-start](https://cloud.githubusercontent.com/assets/19802619/17811213/d9476988-6621-11e6-944b-7ad0a4d039eb.png)

[2016-08-19 13:45] nicolasmeier commented on #23
[silencing errors on failures for npm run script](http://stackoverflow.com/questions/26814034/silencing-errors-on-failures-for-npm-run-script)

[2016-08-23 01:13] crh225 commented on #23
@asadsahi, should we close this?

[2016-08-23 09:24] asadsahi commented on #23
@crh225 closing it for now as above seems solution to avoid errors.

[2016-08-23 09:24] #23 closed

[2016-08-23 20:12] jtc10005 opened #24 "Suggestion/Request - include @angular2-material"
can you include angular2-material in the project?

[2016-08-23 21:45] aacanakin opened #25 "WebAPI integration"
Do you consider WebAPI integration instead of MVC?
One advantage of WebAPI is; it is built for single page angular2 projects, mobile apps, etc.

[2016-08-24 11:32] asadsahi commented on #25
This project is based on .Net Core where Microsoft team has merged MVC and WebApi together. This project is using backend as webapi.

[2016-08-24 11:32] #25 closed

[2016-08-24 11:39] asadsahi commented on #24
@jtc10005 I wanted to keep the UI layer of this project as thin as possible and leaving the design decision  with user of this project. In future, I will have a separate fork of this project when material becomes more mature.

Thanks for the suggestion :).

[2016-08-24 11:39] #24 closed

[2016-08-30 13:32] crh225 opened #26 "dev dependancy angular2-template-loader is out of date"
Very easy fix. just update to 0.5.0 I have tested it and it seems to not break anything.
![image](https://cloud.githubusercontent.com/assets/19475195/18090814/1e5b058a-6e8c-11e6-8f10-cb22b586fb3e.png)

[2016-09-01 17:46] asadsahi commented on #26
@crh225 updated. Thanks

[2016-09-01 17:46] #26 closed

[2016-09-01 19:15] crh225 opened #27 "Update to RC6"
RC6 is now out for angular 2

[2016-09-01 19:21] crh225 commented on #27
![image](https://cloud.githubusercontent.com/assets/19475195/18181124/569dee7a-704f-11e6-9d8a-d34226da3c8a.png)

[2016-09-01 19:22] crh225 commented on #27
These might need to be updated as well with rc6 release
![image](https://cloud.githubusercontent.com/assets/19475195/18181156/7d4c2b90-704f-11e6-8b19-6dce22e4ec1a.png)

[2016-09-03 10:29] asadsahi commented on #27
@crh225  Upgraded to RC6 now.

[2016-09-03 10:29] #27 closed

[2016-09-07 18:23] crh225 opened #28 "testing not working. update the spec-bundle.js file"
npm run test is failing.
They of course changed alot of stuff in zone and rc6.
Change the spec-bundle.js file to:
[code]

[2016-09-07 18:29] crh225 commented on #28
Once karma is working, you will notice ngOninit tests are all failing

[2016-09-08 09:42] asadsahi commented on #28
waiting for angular team to finalise some documentation around testing.

[2016-09-14 17:46] chibuagu opened #29 "Live Demo not working"
I tried accessing the live demo for this application but found an error on the page.

[2016-09-15 07:57] nigel-dewar commented on #29
My too. Its not working.

[2016-09-15 18:29] crh225 opened #30 "update readme to reflect angular 2 final not rc6"
Angular final is out!

[2016-09-15 18:42] crh225 commented on #30
I upgraded locally and it worked just fine. also update the readme to reflect correct version

[2016-09-15 20:23] asadsahi commented on #30
@crh225 it was upgrade to 2.0.0 Final this morning after RC7 too, Readme was just outdate, which is updated now :)

[2016-09-15 20:23] #30 closed

[2016-09-15 20:24] asadsahi commented on #29
@chibuagu @nigel-dewar This is something to do with how azure is handling the deployment, investigating.

[2016-09-15 20:25] asadsahi commented on #28
Just to update on this, i have it working in another branch of this project called testing, but there are some issue with how tests are written, I am writing some useful tests and raised couple of issues with angular team. Documentation is limited at the moment as well, so I will say this Work in Progress !!

[2016-09-16 15:29] crh225 opened #31 "webpack prod build"
webpack prod build does not work currently.

[2016-09-16 15:31] crh225 commented on #31
![image](https://cloud.githubusercontent.com/assets/19475195/18591560/bb4a4116-7bf8-11e6-9a42-fc9c2af4ad27.png)

[2016-09-16 15:32] crh225 commented on #31
![image](https://cloud.githubusercontent.com/assets/19475195/18591611/e56e5cfc-7bf8-11e6-9b66-e70c2ad5c4f5.png)

[2016-09-17 00:24] asadsahi commented on #31
@crh225 follow the latest npm scripts in the project, they don't require webpack to install globally and prod build is created using **npm run build:prod** command

[2016-09-17 00:24] #31 closed

[2016-09-17 00:25] asadsahi commented on #29
Have setup CI with VSTS, also in the process of setting up with appveyor. Demo should be working now.

[2016-09-17 00:25] #29 closed

[2016-09-21 02:16] curlyfro opened #32 "Invalid configuration object."
i'm getting this error after i

`npm run build:vendor`

C:\websites\AspNetCoreSpa>npm run build:vendor

Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.resolve.extensions[0] should not be empty.

[2016-09-21 11:47] asadsahi commented on #32
@curlyfro there were some breaking changes introduced in webpack beta 23, I have pinned down webpack to beta 22 in master to void breackages. Can you get latest and try again?

Thanks

[2016-09-21 15:06] curlyfro commented on #32
cool -- it works :)
thx

[2016-09-21 15:06] #32 closed

[2016-10-10 23:29] kiwiingenuity opened #33 "My SQL Server Express experience"
I changed the database engine to SQL Server Express by
	(a) Changing the DefaultConnection in appsettings.json
	(b) Changing the ApplicationDBContext options in Startup.cs to UseSQLServer (instead of UseSQLLite).

I found I had to make the following changes to your entities to enable SeedData to work with SQL Express.

[code]

[2016-10-13 10:59] rthiney opened #34 "Publishing"
How can I publish this to Azure?

[2016-10-14 19:59] crh225 commented on #33
@asadsahi you can probably close this.

[2016-10-14 20:36] kiwiingenuity commented on #33
@crh225 Rather than just closing it... Why not add the two lines of code to your project first?

[2016-10-20 08:56] asadsahi commented on #34
@rthiney If you are using visual studio IDE, right click the project and click publish. This wizard will guide you through process.

However, If you are using any other editor or tool, then I would suggest to use some CI server like appveyor or VSTS for build and deployment to azure like this project is using.

[2016-10-20 08:56] #34 closed

[2016-10-20 08:57] asadsahi commented on #33
If there is any issue regarding this project, feel free to open it.

[2016-10-20 08:57] #33 closed

[2016-10-24 08:18] asadsahi commented on #28
Got testing working now. Closing it for now. Let me know if you find any issue.

[2016-10-24 08:18] #28 closed

[2016-10-31 05:24] kiwiingenuity opened #35 "http://localhost:4223/__webpack_hmr"
I have cloned the latest repository.
Followed the installation instructions.
Loaded the application using Chrome.
The following console error messages appears:
Failed to load resource: net::ERR_CONNECTION_REFUSED    http://localhost:4223/__webpack_hmr

[2016-11-01 01:55] kiwiingenuity commented on #35
Since reporting this issue I have:
(1) Installed SASS
(2) In the project folder deleted the bin, node_modules and Obj folders ant then carried out the installation instructions again.

The error exists not longer?  Which of the above resolved the issue, I do not know?

[2016-11-01 01:55] #35 closed

[2016-11-01 02:03] kiwiingenuity opened #36 "Right align not showing correctly on Menu items"
Since this update was published the register, login & logout menu items (pull-md-right) sits on the left hand side of the page.  This can also be seen on your live version.  What has changed?

[2016-11-04 11:08] asadsahi commented on #36
@kiwiingenuity not sure if this is because of any code change or an environment related issue. When you run the website in dev, it looks ok, Only when you deploy the site to production or run locally in production mode (that includes minified version of packages) the right hand menu moves to the left.

Nothing obvious wrong at the moment, but will investigate this.

[2016-11-06 19:07] kiwiingenuity commented on #36
I do not have the same experience as yourself.  When I'm running in dev mode the menu is still not aligning correctly.

[2016-11-06 21:51] asadsahi commented on #36
Oh yeah, you were right. Just fixed it and pushed the change, see the change in header.component.html. I think it was a change in newer version of bootstrap which broke the layout.

[2016-11-06 21:51] #36 closed

[2016-11-06 22:24] kiwiingenuity commented on #36
Thanks that resolved the reported issue!
However the extra <nav> tag at the top of the page is confusing and the mobile menu does not appear to be working correctly?

[2016-11-07 09:16] asadsahi commented on #36
ouch... forgot to save the file after few checks I guess. Pushed the change now.

I will have a look at the mobile menu. Would you mind raising another one please?

Thanks.

[2016-11-11 20:56] kiwiingenuity opened #37 "Dynamic forms issue"
The Register Component uses dynamic forms.
If you look at the register.component.ts the controls are set up to query username, firstname, lastname, email and password.  However if you look at the live demo [http://aspnetcorespa.azurewebsites.net/register/registerhome](http://aspnetcorespa.azurewebsites.net/register/registerhome) you see that only email and password appear on the view.  Why is that

[2016-11-12 18:22] asadsahi commented on #37
Should be fixed now. If not, try cache bust js files with Ctrl  +  F5.

[2016-11-12 18:22] #37 closed

[2016-11-18 21:35] kiwiingenuity opened #38 "Menu options not working on live demo"
When you click on the login and register menu items, the application does not respond.

[2016-11-19 00:55] kiwiingenuity opened #39 "Control changes"
[code]

[2016-11-20 15:32] asadsahi commented on #39
you are right. Changed to correct types now. Thanks for pointing out @kiwiingenuity .

[2016-11-20 15:32] #39 closed

[2016-11-20 15:33] asadsahi commented on #38
I suspect this is because of the outdated build. My free VSTS build minutes are finished because of frequent CI happening with each checkin. It will be renewed on 1st december and deply the fresh build.

I have tested it locally by building and publishing the production version and its works fine. So we'll see after the new build is deployed on azure.

[2016-11-23 10:02] asadsahi commented on #38
Should be working now.

[2016-11-23 10:02] #38 closed

[2016-11-23 15:16] kiwiingenuity commented on #38
Agreed!

[2016-11-24 13:20] albrookesplowman opened #40 "Where to add custom CSS"
Hi,

I have based a project on this template as it is exceptionally easy to understand.  However, I am wanting to add in a 3rd party library and CSS - called DevExtreme by DevExpress.

I have added their package into the package.json file so that it gets downloaded by NPM - success.
I have added the control into the HTML file - success.
I have added the import into the TS file - success.

However,

[2016-11-24 16:33] asadsahi commented on #40
try added CSS/SCSS files in vendor.ts from node_modules directory:

**// e.g ../node_modules/libraryname/dist/file.scss
//or
//// e.g ../node_modules/libraryname/dist/file.css**

Vendor file will look like this:
[code]

[2016-11-25 17:43] albrookesplowman commented on #40
I have added the 3rd css files to the vendor.ts but the controls do not have the necessary appearance when they are displayed in the home component page.

Do I also need to reference the CSS in one of the HTML/TS files that relate to the home page?

[2016-11-25 17:45] asadsahi commented on #40
can can you share the code?

[2016-11-25 17:46] albrookesplowman commented on #40
i can zip it all up without the node_modules if it helps

[2016-11-25 17:48] albrookesplowman commented on #40
as all i have done so far is take this project and add the DevExtreme packages for angular 2 and added a dx-button onto the home page which should show a button but it doesn't

[2016-11-25 17:48] asadsahi commented on #40
can you upload on github?

[2016-11-25 18:39] albrookesplowman commented on #40
i am afraid that i haven't got that far and created a github repository for it yet. but once i have i will let you know

[2016-11-25 21:53] albrookesplowman commented on #40
I think that I have create one here:

https://github.com/albrookesplowman/angular

[2016-11-26 00:16] kiwiingenuity opened #41 "Adding NPM packages"
This question is similar to the previous question…

I'm still struggling with WebPack?  I thought an example may help me understand better…

I would like to add a modal view to the application.  There is a bunch to choose from but I have selected "https://www.npmjs.com/package/ng2-bs4-modal".  I'm struggling how to include this package into the application and I was wondering if you would show me/

[2016-11-26 11:23] asadsahi commented on #41
The project is using ng-bootstrap (official ui bootstrap library by angular ui team). That has a modal component in it. I would suggest trying that as you don't have to add any other library.

As an example see [this ](https://github.com/asadsahi/ng2fb-bootstrap/blob/master/src/app/%2Badmin/product/product.component.ts#L45)bit of code in [one ](https://github.com/asadsahi/ng2fb-bootstrap)of my oth

[2016-11-26 11:24] #41 closed

[2016-11-26 11:24] albrookesplowman commented on #40
I have trying putting the CSS in the styleurls parameter in the component as well but now the error regarding "expected 'styles' to be an array of strings".

It all seems a bit confusing

[2016-11-26 11:25] asadsahi commented on #40
Closing this one as there isn't any issue with the project.

[2016-11-26 11:25] #40 closed

[2016-11-26 20:15] asadsahi commented on #40
@albrookesplowman I tried running your project but got some runtime issues.

I have updated readme to have clear instructions. There are new commands to run after npm install. Can you grab the latest code and add same packages to see any difference?

[2016-11-27 00:24] kiwiingenuity commented on #41
That was a good example!  Thank-you.
I note that that example uses Object.assign()
That appears to be a very useful function.
I tried using it in the project, but the command was not recognized.
Is that because we are using es5?

[2016-12-12 00:30] kiwiingenuity opened #42 "Typescript Issue??"
If you open api-gateway.service.ts and look at line 102
I get the error "Supplied parameters do not match any signature of call target"

I suspect this issue only came to light after the last commit?

[2016-12-18 10:26] asadsahi commented on #42
@kiwiingenuity can you try with latest code now? I am not getting any error at line 102. But there was an issue with api.gateway service lacking import of Observable as you can see in change history.

[2016-12-18 11:21] asadsahi opened #43 "JWT or Cookies authentication?"
In single page applications JWT makes more sense to me. Just wanted to hear from people what they want in this project? JWT or Cookies based authentication?

Right now we have Cookies authentication implemented.

[2016-12-18 17:57] kiwiingenuity commented on #42
I've included you the new import.
The error is still there.
I should mention that this error is only appearing in Visual Studio.
If you are not getting the same, I suspect we have different versions of typescript?

Now that you have blown away AspNetCoreSpa.xproj I'm a bit bewildered?

[2016-12-18 18:05] asadsahi commented on #42
@kiwiingenuity using latest version of typescript and it is part of the project. It could be Visual studio's support for typescript as you said.

xproj was causing issue when deploying to azure. It only successfully deployed if there is only project.json file (not sure why but that issue was only happening recently).

Bear in mind that there are some new project structure changes since 1.1.1 .net,

[2016-12-19 15:54] lecnierfreeman commented on #43
Hi,
I clone your project and added a basic JWT middleware  to .NET Core server side and started adding the angular part, I think bearer token auth is better today because you can support different kind of clients,  web, mobile, desktop and other external request to the server side, and the gain from the complexity added is worth it.

[2016-12-19 16:02] asadsahi commented on #43
@lecnierfreeman great to hear that. I am thinking [Openiddict](https://github.com/openiddict/openiddict-core) a better fit for JWT implementation because of its simplicity.

[2016-12-19 16:11] crh225 commented on #43
we are using https://github.com/IdentityModel/oidc-client-js for the client
and Identity server: https://github.com/IdentityModel/IdentityModel

[2016-12-20 20:23] FacundoGFlores commented on #43
What about Identity Server?
https://github.com/IdentityServer/IdentityServer4

[2016-12-20 21:13] asadsahi commented on #43
@FacundoGFlores what is benefit of using IdentityServer over Openiddict. Probably a detailed discussion, but in terms of simplicity and implementation.

What I am thinking of added just token generation and authentication in this project rather relying on seperate client and server libraries. Also, having a simple password flow which directly authenticates from an endpoint and send token to the cl

[2016-12-20 21:46] crh225 commented on #43
When I said we were using IdentitModel, I meant we are using IdentityServer as well. I only set up the client side though, and not the server itself.

[2016-12-21 09:07] asadsahi commented on #42
@kiwiingenuity this is added back in again. Can you check if you are still having this issue?

[2016-12-28 02:11] meninjanho4788 opened #44 "How to setup angular-Material change for bootstrap?"
Thank so much

[2016-12-29 02:53] #44 closed

[2017-01-03 21:49] Ketrex opened #45 "Error: Cannot find file: "coverage/coverage.json""
Running on Windows 10, Node 6.9.2, NPM 3.10.9.
Cloned the repo and followed installation instructions with no problem.  When I run the 'npm run test' command, it produces the following output and errors out:

[code]
The actual coverage/coverage.json file is generated, but it only contains brackets `{}` and nothing more.

[2017-01-05 16:04] albrookesplowman opened #46 "typings and adal"
I am trying to incorporate angular 2 ADAL into this template using:

https://github.com/alenny/angular2-adal-example/

but I get the following error as desribed with their issue:

https://github.com/alenny/angular2-adal-example/issues/2

However, if this spa template that you have created, there isn't a typings.json file.... Do I simply add it to the custom-typings.d.ts file or is there something

[2017-01-09 14:23] asadsahi commented on #46
This project is using typescript 2 which added support for typings as npm packages. if you see package.json, thats where are the typings exist now. So if you try adding adal typings as a node package in package.json file, see if error goes away.

[2017-01-09 14:23] asadsahi commented on #42
Closing for now, if issue exist please let me know.

[2017-01-09 14:23] #42 closed

[2017-01-20 10:02] #46 closed

[2017-01-20 10:03] asadsahi commented on #46
Closing for now.

[2017-01-20 10:04] asadsahi commented on #45
@Ketrex I have this fixed in jwt branch of this project. That branch is WIP for jwt and some improvements to the project overall. Once that stabilises, I will merge that into master.

[2017-01-20 10:06] asadsahi commented on #43
Hi guys, just to update, I am implementing jwt in another branch called jwt to implement token based authentication. That branch will bring quite a number of other improvements like improved DLL support and Angular 2 AOT compilation etc. I am planning to merge that into master. Stay tuneds !!! :)

[2017-01-23 23:56] Ketrex opened #47 "version script calls non-existent build script"
This is more a question, than an issue.

In package.json there is a "version" script which calls "npm run build." No build script exists in the project, so an error occurs. I have encountered this in other packages, is this an intentional omission or should there be a build script present?

[2017-01-24 22:03] asadsahi commented on #47
@Ketrex Not using these scripts in any build pipeline. Initially some of these exist as inspiration from angular2-webpack-starter project :)

I have removed some unnecessary script in jwt branch to simplify the list for dev/test/prod scenarios. They should be available in master after merge.

[2017-01-24 22:03] #47 closed

[2017-01-26 13:36] albrookesplowman opened #48 "publish options for a production build"
I am trying to create a production build with publish and CI but in the project.json file there is the publishoptions:

  "publishOptions": {
    "include": [
      "appsettings.json",
      "Client",
      "Views",
      "tsconfig.json",
      "web.config",
      "config",
      "wwwroot"
    ]
  },

For a production build, can I simple use:

  "publishOptions": {
    "include": [
      "appsetti

[2017-01-28 15:49] asadsahi commented on #48
@albrookesplowman Sure, if it suits your need. I think some extra files are there if we are using server side rendering then we need to copy node_modules + any other necessary files. This project isn't using server side angular 2 rendering, so makes sense to simplify what to include in build.

[2017-01-30 05:56] utilitydelta opened #49 "Cannot read property '0' of undefined"
Hi,

I just cloned your repo. Went through the steps in the readme. Hit F5. Got the following error under configure() where webpackdevmiddleware is registered.

System.AggregateException was unhandled by user code
  HResult=-2146233088
  Message=One or more errors occurred. (Call to Node module failed with error: TypeError: Cannot read property '0' of undefined
    at ExternalModuleFactoryPlugin.<

[2017-02-02 14:13] albrookesplowman commented on #48
Thanks for the update - do you know how to add the server side rendering?  I have to tried to see the differences between this project and another one I found but I have not been able to add this feature

[2017-02-02 14:47] asadsahi commented on #48
I am holding back for SSR (Server side rendering) right now as things aren't as stabilise as they have to be. So, no idea, sorry :)

[2017-02-02 14:47] #48 closed

[2017-02-03 23:06] asadsahi commented on #49
@utilitydelta did npm install happened successfully? Can you try removing node_modules folder and try npm install again to see if it fixes the issue?

[2017-02-06 14:23] asadsahi commented on #43
JWT is new master branch now.

[2017-02-06 14:23] #43 closed

[2017-02-06 14:23] #49 closed

[2017-02-06 14:23] asadsahi commented on #45
this should be fixed now as JWT branch is merged in master which includes alot of changes and fixes.

[2017-02-06 14:23] #45 closed

[2017-02-08 17:41] meninjanho4788 opened #50 "Please add example login, create login Facebook?"
Please guide me one example login social. FB

[2017-02-09 22:40] meninjanho4788 opened #51 "How to get data json from sql 2016 to angular 2?"
Thank you Sir.

how to apply this example in link below to this project.
https://www.codeproject.com/Articles/1106622/Building-REST-services-with-ASP-NET-Core-Web-API-a

it get data json from sql 2016 and not use model, response, interface in server.

[2017-02-11 00:12] asadsahi commented on #51
@meninjanho4788 the project demonstrate Azure sql storage rather sql 2016.

As I understand, In order to access azure sql storage  you need to register custom services in the project to get access to command and query:

[code]

Then use these services in controller:

[code]

Same works for other CRUD operations. From Client side, it should be same setup to call these restful enpoints. I have never

[2017-02-11 00:12] #51 closed

[2017-02-11 00:13] asadsahi commented on #50
@meninjanho4788 [this ](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup)wiki should point you to right direction.

[2017-02-11 00:13] #50 closed

[2017-02-11 07:18] meninjanho4788 commented on #51
Thank you for your comment, sir

[2017-02-11 18:10] meninjanho4788 commented on #50
When i recomment
app.UseFacebookAuthentication(new FacebookOptions()
 {
     AppId = Configuration["Authentication:Facebook:AppId"],
     AppSecret = Configuration["Authentication:Facebook:AppSecret"]
 });

In Debug, code run to function ExternalLoginCallback of (AccountController)
and result is :

return Render(ExternalLoginStatus.CreateAccount); ==> and Stopped!
How i redirect continue to page C

[2017-02-13 01:35] Krishna-teja opened #52 "Unable to get AOT working"
I tried "npm run build:aot" and then "dotnet run". Its having errors in console log that vendor.css is missing. Am I missing something?

Thanks!

[2017-02-13 08:45] j-nord opened #53 "Project doesn't run"
We get follow error:
The program '[13320] dotnet.exe' has exited with code -2147450751 (0x80008081).

and where we can find the database:  Data Source=AspNetCoreSpa.db ?

We have done everything according to instructions.

[2017-02-13 09:20] asadsahi commented on #53
@j-nord are you using Visual studio IDE or VS code? You just need to do F5 in these two.

If you are using commandline you need to first set dev environment:

**set ASPNETCORE_ENVIRONMENT=Development**

then do
**dotnet run**

[2017-02-13 09:21] asadsahi commented on #52
@Krishna-teja AOT isn't fully implemented yet as lazy loading isn't working with webpack in aot mode yet. I am preparing the project slowly towards AOT. So stay tuned :)

[2017-02-13 10:16] j-nord commented on #53
We use Visual Studio 2015.

[2017-02-13 10:17] asadsahi commented on #53
Never seen this issue, can you let me know environment details?

**dotnet info** ?

node -v
npm -v

[2017-02-13 10:24] j-nord commented on #53
PM> node -v
v7.5.0
PM> npm -v
4.1.2

[2017-02-13 10:25] asadsahi commented on #53
Try with latest 6.x node version as state in readme. haven't tried this under node v7.x.

[2017-02-13 14:52] askpt commented on #53
It's working on my machine with that node version... So probably could be something related with the dotnet installation.

[2017-02-16 07:16] najimtab opened #54 "ie9&10&11 support"
I noticed that your demo don't work on IE. Could you tell me why?
Isn't it related to ES6 support?

thx

[2017-02-16 09:33] BitFlipp3r opened #55 "Server Side Rendering"
Hi @asadsahi
Your template is really great, thanks for the hard work!
The only thing missing would be SSR. Do you think it's possible to implement it like [this](https://github.com/aspnet/JavaScriptServices/tree/dev/src/Microsoft.AspNetCore.SpaServices#server-side-prerendering)?
Kind Regards,
Michael

[2017-02-16 09:36] asadsahi commented on #54
@najimtab will look into this.

[2017-02-16 09:36] asadsahi commented on #55
@BitFlipp3r Had some issues with SSR, but not its a little stable, will give it another try.

[2017-02-16 09:49] javietanh opened #56 "Some issues i have found."
Dear,

I got some issues when running your template.
1/ External login not working (please give some guide on how to setup the login on google or facebook, the guide from Microsoft is old)
2/ Maybe DbSeed not running. nothing on database.
3/ Change namespace and dll name -> IIS express could not be run with visual studio.

- Can i switch to Mysql database?

Viet Anh,
Cheers

[2017-02-16 11:20] asadsahi commented on #54
@najimtab This should be fixed now. The problem was some polyfills missing which IE requires:

these were commented out:

import 'core-js/es6';
// Added parts of es6 which are necessary for your project or your browser support requirements.
import 'core-js/es6/symbol';
import 'core-js/es6/object';
import 'core-js/es6/function';
import 'core-js/es6/parse-int';
import 'core-js/es6/parse-float';
impo

[2017-02-16 11:20] #54 closed

[2017-02-16 11:33] asadsahi commented on #56
@javietanh I have just tried the social login for google and redirection happend successfully. Have you gone through the [wiki](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup)? I have updated slightly to point to the right file where the social login code is commented out.

The article from microsoft still seems to be appropriate.

Bear in mind that this project just have the fr

[2017-02-16 11:33] #56 closed

[2017-02-16 11:35] asadsahi commented on #53
@j-nord can you attach some screenshot or further details for this issue as I am unable to guess any reason for above issue.

[2017-02-17 03:04] najimtab commented on #54
It works perfectly. Hanks  @asadsahi

[2017-02-17 04:25] najimtab opened #57 "watch and compile on fly problem"
I tried "npm run dev" and "donet watch run" and when I tried to modify a component template (just html part) but the page doesnet get update on executing F5 in the browser and nothing logged in the commandline console.

 I have to execute npm run build:prod then donet watch run each time I modify something.

It is possible that I am not executing the correct script?

Thanks

[2017-02-17 07:24] mika76 opened #58 "Example site not working 100%"
- Register button never becomes enabled and no validation messages are shown
- Trying to log in with any of the external services throws a http 500 error
- Animation example also does not do anything for go

[2017-02-17 10:03] j-nord commented on #53
In Visual Studio we get follow error in Output:

The program '[20928] dotnet.exe' has exited with code -2147450751 (0x80008081).
The program '[8000] iisexpress.exe' has exited with code 0 (0x0).

**In the event-protocol from windows:**

Failed to start process with commandline '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\ProjectSystem\VSIISExeLau

[2017-02-17 11:45] asadsahi commented on #57
@najimtab if you are running the project from command line you need to run **dotnet run** or **dotnet watch run** commands after setting following variable:

`set ASPNETCORE_ENVIRONMENT=Development`

This will run webpack dev middleware , that runs applications under HMR (Hot module replacement).

Note: If you are running the project with Visual studio IDE or visual studio code then you don't need

[2017-02-17 11:45] #57 closed

[2017-02-17 11:46] asadsahi commented on #58
@mika76 can you provide details of your environment?

Browser version, OS etc?

Thanks

[2017-02-17 11:50] asadsahi commented on #53
@j-nord I can see project running under following visual studio IDE without any error.

![image](https://cloud.githubusercontent.com/assets/3470892/23064268/04f1f1ba-f507-11e6-8dff-eed5c30acf2c.png)

It could be your particular environment. Have you tried switching to node 6.9,x? You can use [NVM ](https://github.com/creationix/nvm)to easily switch between different versions of nodejs.

[2017-02-17 13:55] mika76 commented on #58
Sure, sorry should have done that originally.

Chrome 56.0.2924.87 (64-bit), MacOS Sierra 10.12.3

I  just tried it again.
- There were validations this time on the register form (maybe some script didn't load the first time?) but clicking the button only causes the below error:

- Trying to log in with google gives me:

    at contentscript.js:90
- Animations - the stop and go do nothing really o

[2017-02-17 13:56] mika76 commented on #58
Also polyfills.js gives a 404

[2017-02-19 08:09] Ardevik opened #59 "extract scss to global style"
extract scss to css global style webpack config example
something like extract material 2 theme _all-theme.scss to vendor.css

[2017-02-22 08:44] maksir commented on #53
@j-nord if you download project as *.zipfile, try to follow steps:
1. Close VS
2. Rename folder from 'AspNetCoreSpa-master' -> 'AspNetCoreSpa'
3. Remove 'node_modules' folder
4. Open VS and wait when 'restore dependencies' completed
5. F5

I helped it. But after run I see only 'fa-spinner', no errors in chrome console, no errors in VS.
I try past /home url, /registration url.... but see only spinn

[2017-02-22 09:17] asadsahi commented on #59
@Ardevik I can't see any benefit of extracting css in seperate file. component styles need to work with components. Global styles need to be loaded upfront by downloading as a sperate request. Even styles are part of main bundle, we are still having same size but reducing one http request, which might not be ideal in some situations (perhaps http2).

Can you explain what benefit we can get by havi

[2017-02-22 09:23] BitFlipp3r commented on #53
@maksir
Its probably an unnecessary question, but just in case: Do you have JS enabled?

[2017-02-22 10:06] maksir commented on #53
@BitFlipp3r yes. I have many a angular2 projects, all works OK.

[2017-02-22 10:38] maksir commented on #53
after command 'npm run clean:dist' and F5 again all work now.

[2017-02-22 14:35] Ardevik commented on #59
i dont know benefit from seperate css bundle, but your template use extract text webpack plugin, that extract vendor.css to vendor.css global style, which extract bootstrap.css. Because i use material design 2,
i just want use prebuilt  pellete(color/theme) from material design 2, but the prebuilt is _all-theme.scss, not css. i just want to know(example) how to use that prebuilt for all my compone

[2017-02-26 05:14] robertpmansion opened #60 "Authentication on the homepage"
Quick question: how do you properly add the authentication on the home page?

I tried the below codes but the `canActivate: [AuthGuard]` does not work on the homepage but in the rest of the routes works perfectly fine.

I also tried some of the suggestions I found on the internet but would not work on the homepage.

[code]

[2017-02-27 15:18] asadsahi commented on #59
@Ardevik this porject isn't targetting a particular ui library. However you can try adding material css/scss in following location:

https://github.com/asadsahi/AspNetCoreSpa/tree/master/Client/styles

and reference them in:

https://github.com/asadsahi/AspNetCoreSpa/blob/master/Client/main.ts

currently a css vendor files is referenced in main.ts, but you can reference any css/scss files either f

[2017-02-27 15:18] #59 closed

[2017-02-27 15:23] asadsahi commented on #58
@mika76 you will not be able to use oauth logins on live site because of reason exaplained [here](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup):

You can follow [this ](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup)wiki to implement in your project.

Animations are working fine on chrome, can't thing of any environment specific issue with animations as they

[2017-02-27 15:23] #58 closed

[2017-02-27 15:25] #53 closed

[2017-02-27 15:27] asadsahi commented on #60
@robertpmansion have you tried adding [AuthGuard] on home.routes.ts?

[2017-02-28 05:56] mika76 commented on #58
There's not much point in having an example site up if you're going to disregard all the problems seen on it, all it does is make me distrust the code. Why would I download and use my time to try something where it's own example does not work?

PS: I got all these problems on chrome...

[2017-02-28 10:02] javietanh opened #61 "Translate!"
Dear,

Sorry but how does angular-translate work? where is the lang .json file?

Viet Anh,
Cheers

[2017-02-28 10:28] asadsahi commented on #58
@mika76 have you managed to get social account login working by following the wiki link i mentioned above?

Regarding animations can you see animations between home and example pages? Can you see any errors in console when the application loads?

Unfortunately I am not using OSx, but I can look further if you can provide any errors from console if you are receiving.

[2017-02-28 13:13] robertpmansion commented on #60
@asadsahi it does work when I add it to home.routes.ts, but do I have to set to every route like profile.routes.ts? any more efficient where I could just set them in one place?

[2017-02-28 13:27] asadsahi commented on #60
@robertpmansion it depends on your scenario, you need to have a public page for sure, where users can land on , and you don't want to puth authguard on that landing page. if you are thinking end users to land on login page by default, then you can set login page as default landing page without auth guard and secure all other routes using authguard.

An efficient way to handle that could be  to hoo

[2017-02-28 13:27] #60 closed

[2017-02-28 13:38] asadsahi commented on #61
@javietanh this project is loading translations from server after user changes language instead of static json file.

Implementation is here:

https://github.com/asadsahi/AspNetCoreSpa/blob/master/Client/app/shared/services/api-translation-loader.service.ts

[2017-02-28 13:38] #61 closed

[2017-02-28 13:42] robertpmansion commented on #60
@asadsahi thank you. I will try this. :)

[2017-03-02 19:48] quanterion opened #62 "Social registration"
Are you planning to implement social registration via facebook, google etc?
You are currently using ASP.NET Core external auth. So you end up using JWT for Username/password and cookies for Facebook and other providers. Are you going to change this and use JWT only and exchange google or facebook tokens for your JWT token, so you are using your own JWT token only.

[2017-03-03 17:19] meteor-learning opened #63 "Question on Visual Studio 2017 compatibility"
First, this is an amazing starter template, and the first one I've found that has CLI support with .NET core, which is what I was looking for.  I attempted to have Visual Studio 2017 do an automatic upgrade, but the openid packages break and nuget can't restore the packages.  With the official release of Visual Studio 2017 coming out in just a few days, do you plan on providing an outline or best

[2017-03-04 15:34] rakeshrohan commented on #63
@meteor-learning
you have to manually add the following nuget package sources under
**Tools->Nuget Package Manager ->Package sources.**
1) https://www.myget.org/F/aspnet-contrib/api/v3/index.json
2) https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json

restore the packages and rebuild now. It should work.

[2017-03-04 18:09] meteor-learning commented on #63
Awesome, that worked perfect!  A huge help.  Now I can use this in Visual Studio 2017.  Thanks!  Tim

[2017-03-14 07:46] hillin opened #65 "Compile with More Strict Flags"
Hi, this is a great SPA. I wish it could compile with the following typescript flags turned on:

- [ ] `noUnusedLocals`: there are many unused local variables
- [ ] `strictNullChecks`: variables cannot be `null` or `undefined` unless they are so declared
- [ ] `noImplicitAny`: variables cannot be implicitly be type of `any`
- [ ] `noImplicitReturns`: all execution paths must return a value in non-

[2017-03-14 10:35] hillin commented on #65
Although, due to some bugs of current Angular 4 build (rc3, [see bug here](https://github.com/angular/angular/issues/14677)), `strictNullChecks` is still not entirely possible.

[2017-03-14 16:49] asadsahi commented on #65
@hillin Thanks for feedback. I will look into these in more details. However today I have upgraded project o csproj and alot of tslint been fixed according to angular guidelines. Project is using angular 4 rc now. Can you give it a go and let me know couple of places where these features aren't being implemented to have a better understanding?

Thanks

[2017-03-14 16:50] asadsahi commented on #63
upgraded to csproj with final release of dotnet sdk 1.0.0. Most of the project dependencies been upgraded as well. Let me know if you encounter any more issues.

[2017-03-14 16:50] #63 closed

[2017-03-14 16:53] asadsahi commented on #62
@quanterion good question.

I have implemented this in few other nodejs based project where I have a strategy to send back token from server after oauth verification in query string and client can store that token as they have logged in. total cookie free solution.

Will look at implementing at some point.

[2017-03-14 16:58] asadsahi commented on #55
I dont fully understand SSR or have seen a complete example where there are alot of client side dependencies in an application like this one. How easy SSRS. Help appreciated.

[2017-03-15 05:02] hillin commented on #65
@asadsahi I've synchronized with your update. This issue has nothing to do with tslint, just set those options to true in tsconfig.json, build the project in Visual Studio and you can see errors in the Error List panel.

For example, in [base-comment.ts](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Client/app/%2Bexamples/component/change-detection/base-comment.ts):

[code]
should be chang

[2017-03-15 10:41] alaa9jo opened #66 "Live demo is not working"
I tried to visit the live demo but all I see is an empty page:
http://aspnetcorespa.azurewebsites.net/

In console I see a lot of errors:

[code]

[2017-03-15 16:25] asadsahi commented on #65
@hillin thanks for your feedback.

If I set this option in tsconfig.json, I am not getting this caught in tslint, but do get red squigly lines in vscode, and as you mentioned in VS IDE as well. So I would expect this to be part of tooling as well, so that we can get this tested in deployment / production workflow.

Any thoughts on that?

[2017-03-15 16:30] asadsahi commented on #66
up now.

[2017-03-15 16:30] #66 closed

[2017-03-16 02:22] hillin commented on #65
@asdsahi actually it's typescript compiler (tsc) who does the job, and maybe the so-called intellisense is also involved. If you turn on these options, the code won't compile.

[2017-03-16 05:21] hillin commented on #65
I've added `noImplicitReturns` into the list as well, which enforces all execution paths to have a return value in non-void-returning functions and methods.

[2017-03-19 12:55] Cisu90 opened #67 "its, not runing and comilled in VS2017 eroor TS2345 in app.e2e.ts"
its, not runing and comilled in VS2017 eroor TS2345 in app.e2e.ts, i'm only cloning and instal npm and start in vs2017 to this error

[2017-03-21 01:25] kiwiingenuity opened #68 "Unable to publish to IIS using VS2017 Publish"
I did the following:
	1. Cloned you application and followed the instructions.
	2. Confirmed that the application worked as expected, which it did.
	3. Opened the project in VS 2017 and set up a publish profile.
	4. Published the application to IIS
	5. View the web site in the browser.  Error 'polyfills_lib' is undefined  Line 982 main.js

I experimented for some time and discovered if I did a "do

[2017-03-21 22:33] asadsahi commented on #67
fixed.

[2017-03-21 22:33] #67 closed

[2017-03-21 22:39] asadsahi commented on #68
@kiwiingenuity  I have just did few fixes this morning to do publish from visual studio 2017 this morning. This should produce client artifacts while doing publishing from visual studio. Can you confirm if this fixes above issue?

[2017-03-22 10:24] asadsahi commented on #68
This should be fixed now. There was a problem with csproj file.

[2017-03-22 12:41] asadsahi commented on #65
@hillin I have turned all the above flags on and updated project with most of the fixes. Still not 100% there for couple of reasons:

* Ideally I would like to apply as many types as possible to our classes/variables as possible. But its a good start. Still we have alot of any type variables.
* I have to turn these two options on to get around something that tsc command was checking in @angular/fo

[2017-03-22 12:41] #65 closed

[2017-03-22 13:27] asadsahi commented on #68
Reopening as I can see the issue is still there.

[2017-03-23 04:03] hillin commented on #65
@asadsahi I've merged your commits into our project and it worked like a charm! Great job!

[2017-03-24 15:26] asadsahi commented on #68
@kiwiingenuity  this should be fixed now. Let me know if you encounter any more errors.

[2017-03-24 15:26] #68 closed

[2017-03-29 20:53] patrickgoeler commented on #55
Hey @asadsahi, any progress on the SSR?

[2017-03-31 15:55] asadsahi commented on #55
Still quite complex, no idea. Help welcome. :)

[2017-04-02 11:58] badre429 opened #70 "why not angular-cli"
most of angular project on github use angular-cli can you explain why  you are not using it in this project

[2017-04-03 14:18] asadsahi commented on #70
@badre429 let me explain as much as I can to clarify.

The approach by angular-cli vs this project which is based on asp.net core spa/javascript services (details [here](http://blog.stevensanderson.com/2016/05/02/angular2-react-knockout-apps-on-aspnet-core/)) is different. Angular cli manages client side build + code scaffolding + few other things which are specific to client aretefact like typesc

[2017-04-03 14:18] #70 closed

[2017-04-10 17:25] MartinSher opened #71 "Renaming project"
Hi

Thanks for the template.

I am trying to bring it into a VS2017 solution and want to rename the project.  After renaming I get errors as per below when rebuilding the solution.

Unable to resolve 'Microsoft.AspNetCore.SignalR.Server (>= 0.2.0)' for '.NETCoreApp,Version=v1.1'.

Any ideas as to how to rename it.

Thanks
Martin

[2017-04-12 16:19] asadsahi commented on #71
@MartinSher try removing following line from AspNetCoreSpa.csproj file and then reloading project:

https://github.com/asadsahi/AspNetCoreSpa/blob/master/AspNetCoreSpa.csproj#L49

I think this is leftover from another branch. Will remove it and push it soon.

[2017-04-12 18:09] MartinSher commented on #71
Thanks
It does work but then I need to comment out references to SignalR in the code.

Similar problems with OpenIddict references which prevent compile. Works when delete the following lines but then again need to comment out code in the app.

 <PackageReference Include="OpenIddict" Version="1.0.0-*" />

    <PackageReference Include="OpenIddict.EntityFrameworkCore" Version="1.0.0-*" />

    <Pac

[2017-04-13 09:39] asadsahi commented on #71
@MartinSher I can understand signalr problem as it wasn't being used in the master branch. I tried to implement in signalr branch of this project, but them I decided not to put this version of signal r into master as microsoft is working on another project for websockets. I am waiting for it to come out before start integrating into this project for few examples. I have removed all references of s

[2017-04-13 21:23] webnegar opened #72 "problem with "dotnet restore""
accroding to instructions when i use "dotnet restore" in  AspNetCoreSpa folder (step3)
i get this error:
**warn : The folder 'C:\test\AspNetCoreSpa' does not contain a project to restore.**
and
dotnet run
**The current project is not valid because of the following errors:
C:\test\AspNetCoreSpa(1,0): error DOTNET1017: Project file does not exist 'C:\test\AspNetCoreSpa\project.json'.**

[2017-04-14 10:24] MartinSher commented on #71
HI
Thanks
Sorry not sure what you are suggesting.
The project rebuilds fine as the provided. However, when I rename the project then it does not rebuild  with errors

Unable to resolve 'OpenIddict.Mvc (>= 1.0.0)' for '.NETCoreApp,Version=v1.1'.
Unable to resolve 'OpenIddict (>= 1.0.0)' for '.NETCoreApp,Version=v1.1'.
Unable to resolve 'OpenIddict.EntityFrameworkCore (>= 1.0.0)' for '.NETCoreApp,Ve

[2017-04-15 08:52] MartinSher commented on #71
Hi
To reproduce in VS2017.

1. Unzip project in folder \test\
2. Open project
3. Save .sln in \test
4. Rebuild and run -> all OK
5. Rename project in soln -> can't rebuild

Thanks
Martin

[2017-04-16 20:10] knowshape opened #73 "Runs perfectly with SQLlite...but cant migrate to SQL Server"
Asad,

Your project is amazing!  I can run it locally from VSCode, and register a new user and then authenticate as that user, with Angular (2).  This is the ONLY project I have found that does Core and A2 with authentication that I can get working, so thank you for sharing it on GitHub!

My problem:
I want to use it with a SQL Server database just like the SQLite AspNetCoreSpa.db you have in the

[2017-04-16 20:14] knowshape opened #74 "...or Is there a way to use SQL Server from the beginning?..."
...by changing the project code, such that a migration is not necessary.  LocalDB would be fine.

Thank you!

[2017-04-18 07:36] badre429 commented on #44
any description why not ***@angular/material***

[2017-04-18 08:35] MartinSher commented on #71
Just following up on this issue to see if anyone has ideas on how I can rename the project and have it compile.
Thanks
Martin

[2017-04-18 12:04] asadsahi commented on #72
can you provide result of:

**dotnet --info**

[2017-04-18 12:23] asadsahi commented on #73
@knowshape

It is difficult to say looking at the error you shown above. What is your sql server instance name? It it is set to default instance you should be able to connect using . or localhost from SSMS. And this project is using this default instance to connect to.

[2017-04-18 12:24] asadsahi commented on #74
Closing this as it doesn't sound like an issue. :)

[2017-04-18 12:24] #74 closed

[2017-04-19 21:12] crh225 opened #75 "Feature: upgrade swagger/swashbuckle"
Swagger/swashbuckle has been taken out of Swashbuckle and put into an new .net core project https://github.com/domaindrivendev/Swashbuckle.AspNetCore

then namespaces has changed also

[2017-04-20 14:11] asadsahi commented on #75
@crh225 Do you know the namespace of

services.AddSwaggerGen(c =>
{
    c.SwaggerDoc("v1", new Info { Title = "My API", Version = "v1" });
});

I cannot find c.SwaggerDoc to compile.

[2017-04-20 16:54] crh225 commented on #75
this is what my startup looks like
[code]
[code]

[2017-04-20 22:15] knowshape opened #76 "The project works great with the default SQLite, but not with MS SQL Server Express..."
Asad,

Thanks much for your response on this problem!  You asked for more detail, so here, below is what I get when I run the project from VSCode.  It's easy enough to see why this happens, but it doesn't seem like the "Seeder" is building a proper SQL Server version, like the SQLite version that works great.

I got the project working, BUT I did it by converting the AspNetCoreSpa.db into AspNetCo

[2017-04-21 06:52] m2017atTR opened #77 "build-production"
Hello,
First thanks for this god experiment,

I have some trouble about
buid-production and webpack-prod tasks

In task runner as attached and log file blow...

cmd.exe /c yarn run build-production
yarn run v0.22.0
$ npm run ngc && npm run webpack-production

@@@@@@@@@ USING PRODUCTION @@@@@@@@@@@@@@@
clean-webpack-plugin: C:\app\src\UI\wwwroot\dist has been removed.
clean-webpack-plugin: C:\app\s

[2017-04-21 06:53] #77 closed

[2017-04-21 08:24] asadsahi commented on #76
@knowshape can you please mention this details in same issue?

https://github.com/asadsahi/AspNetCoreSpa/issues/73

[2017-04-21 08:24] #76 closed

[2017-04-21 09:04] asadsahi commented on #75
i think visual studio was playing with me. restarted and it worked. Just pushed the changes with new package. see how it goes.

Thanks :+1:

[2017-04-21 09:04] #75 closed

[2017-04-21 09:06] asadsahi commented on #71
@MartinSher if you can share your code with this issue, I can try to have a look.

[2017-04-22 11:27] m2017atTR commented on #61
Hello,
Regarding to documentation, injecting translation module and service could be in app module.
It s working on shared module but not in admin module components.

Have you faced with this issue ?

Mehmet
Cheers

[2017-04-22 12:46] m2017atTR opened #78 "http://aspnetcorespa.azurewebsites.net/admin without login"
i could access http://aspnetcorespa.azurewebsites.net/admin without login...
How to prevent some routes ...

[2017-04-22 20:41] asadsahi commented on #78
@m2017atTR RouteGuard is what you are looking for. Following is an example you can follow to apply route guard on admin route by checking if user is loggedin. AuthService has a method which can check if user is logged in or not.

http://stackoverflow.com/questions/34331478/angular2-redirect-to-login-page

[2017-04-22 20:41] #78 closed

[2017-04-22 21:44] m2017atTR opened #79 "Translation issue in shared module"
suggestion :

Translation not working outside shared module...
for work moved
TranslateModule.forRoot({ loader: { provide: TranslateLoader, useClass: ApiTranslationLoader } })
to app module...
as described in ...
https://github.com/ngx-translate/core/issues/209

[2017-04-22 23:46] m2017atTR commented on #73
I believe error is about Id key field that not null,
In SeedDbData

 Unhandled Exception: Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details. ---> System.Data.SqlClient.SqlException: Cannot insert the value NULL into column 'Id', table 'AspNetCoreSpa.dbo.Languages'; column does not allow nulls. INSERT fails.

[2017-04-23 07:51] mageshbala90 opened #80 "HMR not working"
I downloaded the project and restored the dependencies in VS 2017.  When i run the project using VS2017 by F5, it is running in the browser successfully.  But when i edit the html and save, it is not reloading the changes in the browser.

I am getting the below message in browser console.
**Failed to load resource: net::ERR_CONNECTION_RESET**
Pls help me to resolve this.

[2017-04-23 13:33] m2017atTR commented on #78
Thanks, works fine...
I can add my changes to repository but dont know how to manage

[2017-04-24 03:01] Azayzel opened #81 "SQL DB never gets seeded"
Thank you for this project! Great work!!

Everything runs perfectly when using the SQLite db provided, but after I perform the migration and start the app; the new DB never gets seeded. The Language, Roles, Users, Content, Title information never makes its way into the new SQL database. Any ideas? I'm using VS Pro 2017.

[2017-04-24 03:31] Azayzel commented on #81
In order to seed i had to manually seed from "ProcessDBCommands"

[code]

I'll try to poke around and see what it wasn't picking up.

[2017-04-24 03:31] #81 closed

[2017-04-24 08:31] asadsahi commented on #80
@mageshbala90 can you try removing wwwroot/dist folder and run again to see if it makes any different?

I think you have done npm install without any errors?

[2017-04-24 12:13] asadsahi commented on #79
@m2017atTR thanks for pointing out. fixed now.

[2017-04-24 12:13] #79 closed

[2017-04-24 12:31] asadsahi commented on #73
@knowshape I have just tried following same instructions but cannot see any errors. Able to run the application just fine.

@m2017atTR Id is a seed value by default and primary key. If we specify id, it fails in sql server seeding. I had this issue when trying to get it work with both sql lite and sql server. Not specifying the key when seeding the data works in both types of DBs.

[2017-04-24 23:47] Azayzel opened #82 "Setup "Options" for Dropdown"
How do I setup the Options for my DropdownControl?

[code]

[2017-04-25 03:00] mageshbala90 commented on #80
Hi  @asadsahi ,
The issue is the visual studio solution is closed in the background due to an exception in common.es5.js.  This causes the iis to stop running and produces the "Failed to load resource: net::ERR_CONNECTION_RESET" error.

**Unhandled exception at line 18448, column 5 in http://localhost:5000/dist/vendor.dll.js?v=rYKpEjxEyf-G0grd3roPYLNmfrTdUgY0t6weJb0GNS4

0x800a138f - JavaScript ru

[2017-04-25 04:03] mageshbala90 commented on #80
Hi @asadsahi ,

I forgot to uncomment polyfills.. It is working fine now.   I can customize it as my needs.  Thanks a lot for your contribution...

[2017-04-25 04:03] #80 closed

[2017-04-25 06:23] m2017atTR commented on #73
- I tryed at SqlLocalDb v11.0 instance
   I had issue that id[INT] field is not generated on db as AutoIncrement
  [DatabaseGenerated(DatabaseGeneratedOption.Identity)]  is not worked for Id field.
https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-a-more-complex-data-model-for-an-asp-net-mvc-application#the-databasegenerated-attribute

[2017-04-25 10:33] asadsahi commented on #82
@Azayzel what I can see is that you are passing in array of string as default value, but rather you have to pass in array of objects with two properties (key and value), something like this:

[code]

[2017-04-25 10:38] asadsahi commented on #80
@mageshbala90 Glad you resolved it.

thanks for kind words. :)

[2017-04-25 22:16] knowshape commented on #73
In this attachment, is my complete SQL Server script for a working version of this database:
  (I hope this attachment is good...first time I have done this. :o )
(I renamed the database just to keep it separate, and changed it in the connect string in the code.)

[AspNetCoreSpa_02.sql.txt](https://github.com/asadsahi/AspNetCoreSpa/files/956694/AspNetCoreSpa_02.sql.txt)

Note:  SQL Server DDL crea

[2017-04-26 00:42] Azayzel commented on #82
Well that code is what i get when i clone the repo (what you see is default). I've tried what you suggest and it still doesn't display anything on screen.

[2017-04-26 15:24] mageshbala90 opened #83 "Third party libraries"
Hi Asadsahi,

can you please advice me how should i refer third party libraries like primeng in this project?

and also i would like to prevent it from compilation on each build...

I tried to add it in webpack.dev.js file - vendor array, but it does not work properly..  Nodeservices were throwing some exceptions whenever i add it.

[2017-04-27 09:19] asadsahi commented on #83
@mageshbala90 try these steps:

1. npm i primeng --save
2. import primeng necessary module in AppModule or SharedModule (you need to export those modules from shared modules to be able to use it in another module)
e.g
import {AccordionModule} from 'primeng/components/accordion/accordion';
![image](https://cloud.githubusercontent.com/assets/3470892/25476575/87377bf2-2b32-11e7-8cb0-1e3a10ebba5a.png)

[2017-04-27 09:25] asadsahi commented on #82
@Azayzel as an example I have just used this control on registration page for receiving title from user:

![image](https://cloud.githubusercontent.com/assets/3470892/25476925/a2407db2-2b33-11e7-86f5-461339e2e6a7.png)

All I have done is added dropdown control in controls list of registration component:

[code]

[2017-04-27 16:02] mageshbala90 commented on #83
Hi @asadsahi ,

Thank you for your advice.  I could integrate it by following above mentioned steps and it works.

But after adding Primeng modules, web pack is rebuilding infinitely even though i made no changes in the code.  Please be noted that there is no error in console.

<img width="960" alt="2017-04-27" src="https://cloud.githubusercontent.com/assets/21171864/25492516/d47f6762-2ba5-11e7-96

[2017-04-27 20:21] tanwarsatya opened #84 "Project don't run doing default step - Dotnet Run"
Tried the default steps on multiple machines, running with dotnet run don't work. Is there specific .Net Fraemwork SDK version need to be installed.

Using VS F5 working fine.

[2017-04-27 20:30] tanwarsatya commented on #84
After running it from VS once, next time dotnet run from cmd prompt working fine.

[2017-04-27 20:30] #84 closed

[2017-04-28 01:07] Azayzel commented on #82
Ill test this out; i was thinking I had to do this on that class. Thanks!!

[2017-04-28 01:07] #82 closed

[2017-04-30 18:26] tanwarsatya opened #85 ".net framework 4.6"
while trying to use framework 4.6 its causing error, aspnet core javascript services template works with that. i am trying to migrate my project from that template to yours.

satya

[2017-05-01 14:28] crh225 commented on #85
This is .Net Core project, not a .net 4.6 project

[2017-05-01 17:51] tanwarsatya commented on #85
I understand but is it possible to use 4.6 framework or not because we have certain libraries which are based on full .net framework.

[2017-05-03 02:29] kiwiingenuity commented on #83
An observation that may be of assistance.
I have not added any third party libraries.
However since the last update(s) my application randomly starts building infinitely.

[2017-05-03 10:28] m2017atTR commented on #83
Same problem i had,
and sawy that happening when some code in ts files has build error. I suggest to look output carefully and clear warning as much as possible.
I tryed with PrimeNg,Material2 and working well !

[2017-05-03 10:29] m2017atTR opened #86 "OpenId RefreshToken problem !!!"
i am getting... 401 Unauthorized on admin action
I downloaded from github as it is , and that source has same problem too...
Tryed to fix but could not understand problem...

      WWW-Authenticate:Bearer error="invalid_token", error_description="The access token is not valid."

`AspNet.Security.OpenIdConnect.Server.OpenIdConnectServerMiddleware:Information: The token request was successfully extr

[2017-05-03 10:42] asadsahi commented on #85
@tanwarsatya this article explains it how it can work with .net 4.6

https://jonhilton.net/2017/03/14/use-asp-net-core-1-1-with-net-4-without-visual-studio/

But bear in mind that you will only be able to run this project on windows environment after targetting 4.6.

[2017-05-03 10:42] #85 closed

[2017-05-03 10:49] asadsahi commented on #83
@m2017atTR @mageshbala90 I have just trid with two changes in home.component.ts and can't see it re-building more than once.

![image](https://cloud.githubusercontent.com/assets/3470892/25657508/1a66322a-2ff6-11e7-8ceb-63c4206769c7.png)

Can you notice anything specific on your environment?

[2017-05-03 10:52] m2017atTR commented on #83
I ment that there can be some changes in ts file changes in local copy
so when added third party HMR reflects repeatedly build.

[2017-05-03 17:02] crh225 commented on #52
@asadsahi has there been any update on this?

[2017-05-03 18:05] m2017atTR commented on #86
downgraded to OpenIddict 1.0.0-beta2-0608 packages
then its fine ...

[2017-05-04 07:57] MaklaCof opened #87 "Add global scss for third party components"
_I am migrating my project from Javascript Services, because I use Kendo UI for Angular which requires Angular 4._
I am trying to add scss ([documentation](http://www.telerik.com/kendo-angular-ui/getting-started/#toc-add-the-styles)).

I add import in main.ts:
`import "../node_modules/@progress/kendo-theme-default/scss/all";`

Do I have to do anything else? Because styles are not imported.
I read

[2017-05-04 08:18] MaklaCof commented on #83
I am using Kendo UI for Angular, but importing **ButtonsModule** and **LayoutModule** in shared.module.ts or app.module.ts is not working. I had to import to home.module.ts.

shared.module.ts:
[code]

home.component.html:
[code]

Error:

What am I doing wrong? (_If I import in home.module.ts it works._)

[2017-05-05 08:23] SanyaBogos commented on #71
@MartinSher I`ve faced with the same trouble and found a solution. I assume this issue doesn't happen with Visual code. However, if we use VS 2017 it automatically offer us creating a solution (sln) file. Just remove this sln file and open project using csproj. It shoud compile and work fine. (If you wish save sln file, please don't change it`s name and offered directory, click only Save btn. Afte

[2017-05-05 17:02] skorunka opened #88 "What is 'environment.ts' for?"
What is the file `environment.ts` file for?

[2017-05-05 17:14] skorunka opened #89 "What is the purpose of vendor configuration in webpack.dev.js"
What is the purpose of vendor configuration in webpack.dev.js?

Do I have to add there the packages I want to use?

Thank you.

[2017-05-06 01:39] kiwiingenuity commented on #86
I'm experiencing the same issue?
You can reproduce the issue if you do the following:
	1. Clone the repository.
	2. Follow the installations instructions:
		a. dotnet restore
		b. npm install
		c. set ASPNETCORE_ENVIRONMENT=Development
		d. dotnet run
	3. Log in as admin.
	4. Select the Admin option from the top menu.
	5. Do Admin Operation.

The console reports a 401 (Unauthorized) event when cal

[2017-05-06 03:48] Azayzel commented on #73
My fix for this issue was to migrate to SQLExpress then migrate that to SQL Server.

https://social.msdn.microsoft.com/Forums/sqlserver/en-US/4abf91a7-f5e8-438b-8b56-2daeb4482dde/best-method-for-moving-sql-server-2005-express-db-to-2008-r2-in-new-domain?forum=sqlexpress

[2017-05-06 07:01] #86 closed

[2017-05-06 08:05] asadsahi commented on #88
@skorunka there are some more optimisations in that file which get applied for production build of angular applications. I stumbled across [this](https://hackernoon.com/everything-you-need-to-know-about-debugging-angular-applications-d308ed8a51b4) article which explains it well. I copied environment.ts file literally from angular2-webpack-starter project. Please not, this file isnt' being used rig

[2017-05-06 08:06] #88 closed

[2017-05-06 08:08] asadsahi commented on #89
@skorunka yes, you would like to add any 3rd party packages as this list gets added into webpack dll bundle. Webpack dll bundle increases the speed of rebuilding applciation in dev by by passing these 3rd party packages reading from that section since these packages don't change, so we don't need to include them in webpack rebuild process.

[2017-05-06 08:08] #89 closed

[2017-05-06 08:13] asadsahi commented on #87
@MaklaCof because these are 3rd party libraries I would suggest them adding in Client/app/styles/vendor.css file. Or you can create a scss file in that folder and import that scss file in main.ts.

[2017-05-06 08:15] asadsahi commented on #83
@mageshbala90 you import/export in sharedmodule looks good. You need to import Shared module in each of consuming module e.g HomeModule in your case.

[2017-05-06 09:26] m2017atTR opened #91 "Not an Issue a Question about angular 4"
Doing this for experiment for reusing angular modules in other project,
and experiment for youngers that i work together...

**Problem :**
       at Angular.io site there is a great routing example, for experiment routing and outlets and query string params, in examples i added heroes folder and donloaded example from url and put all files to this folder.

 [https://angular.io/resources/live-examp

[2017-05-06 20:41] valentinmarinro commented on #83
Hi @asadsahi ,

I have the same issue as @mageshbala90 and @m2017atTR  after installing primeng HMR is rebuilding infinitely, also checked the output and console and do not see any errors / exceptions

![image](https://cloud.githubusercontent.com/assets/1761025/25775755/66878070-32b5-11e7-91a0-0e16c1efe5f1.png)

[2017-05-06 23:06] #91 closed

[2017-05-06 23:10] m2017atTR commented on #83
Hello friend,
I could add many other modules and working well...
Faced with same issues then
- deleted dist folder completely then rebuild system...
- also think about css or scss can couse this problem too... revert or completely remove from project for testing problem.

[2017-05-07 09:30] skorunka commented on #88
@asadsahi Will that file be required int he future? Does it mean the AOT is not fully implemented. Thank you. I'm just trying to get my self more familiar with this template as it seems more mature than https://github.com/MarkPieszak/aspnetcore-angular2-universal Thank you.

[2017-05-07 09:37] skorunka commented on #89
Lovely! ta

[2017-05-07 09:49] asadsahi commented on #88
@skorunka Thanks for your kind words.

Yes, it isn't implemented yet. But I am playing around with few options to see which one will be suitable to use for AOT, either build own pipeline which will use ngc compiler or to incorporate angular-cli in this project to get aot working. There are few options to explore. There is an open issue for that. So keep an eye on [that](https://github.com/asadsahi

[2017-05-07 10:21] skorunka opened #92 "vendor.css -> "Uncaught Error: Expected 'styles' to be an array of strings.""
Having `vendor.css` empty or :
[code]
Resulting in the browser error: 'Uncaught Error: Expected 'styles' to be an array of strings.'.

Any idea what might be wrong? ta.

[2017-05-08 06:44] skorunka commented on #88
@asadsahi Ok, thank you.

[2017-05-08 15:35] skorunka commented on #92
This is actually problem related to while trying to add external CSS files using `styleUrls` in `@Component`....

[2017-05-08 22:32] skorunka commented on #92
When the file is added as cscc all works. Why adding CSS files does not work?

[2017-05-09 04:37] sajidali2444 opened #93 "Deployment issue"
Hi, Thanks

its works well on localhost without publish. but when i try to publish it localhost iis its not working.
my aim was before go live i want to know either its work on localhost deployment but its not working throwing many wired errors.
again Thanks such as great effort.
steps i do.
1. downloaded  your master and rename your project with my required name like "MyProject"
2. run yarn insta

[2017-05-09 09:16] asadsahi commented on #93
@sajidali2444 `npm clean:build` doesn't even exist anywhere in the project. Can you confirm if you are working agains master and latest code base.

[2017-05-09 09:37] asadsahi commented on #92
@skorunka this project uses component css to be SCSS instead of css. CSS is a valid SCSS, so you can use CSS as normal in SCSS files. All the component are styled inline with JS bundles.

Vendor files are css and they are extracted as seperate css bundle. If you like components to use css you might need something like this:
https://github.com/AngularClass/angular-starter/blob/master/config/webpack

[2017-05-09 11:09] sajidali2444 opened #94 "dotnet resotore and Create Roll Exception"
please check attachment  i get latest branch run yarn install and dotnet restore
after that db created but create role method throws exception.
![createroles method null value db migration](https://cloud.githubusercontent.com/assets/960620/25847993/e346a0be-34d1-11e7-88ba-b9a1f983c231.JPG)
![dotnet restore](https://cloud.githubusercontent.com/assets/960620/25847992/e3451654-34d1-11e7-853a-8dbdbfab

[2017-05-09 11:23] Azayzel commented on #94
I had this same problem. I created a SQLExpress db first, migrated to that then restored that to SQL db.

Did you follow the README?

[2017-05-09 11:31] Azayzel commented on #72
@webnegar can this issue be closed?

[2017-05-09 11:51] sajidali2444 opened #95 "Publish Errors"
again i face publish error but this time it is different last time i face npm run clean:dist error
now it different please check attach image.
![publish](https://cloud.githubusercontent.com/assets/960620/25849384/b2fea8d8-34d7-11e7-817e-d62303d84a58.JPG)

[2017-05-09 12:08] sajidali2444 commented on #94
i resolved by deleting migrations folder, bin and run dotnet run dropdb command.

[2017-05-09 12:08] #94 closed

[2017-05-09 12:24] asadsahi commented on #95
Linked to https://github.com/asadsahi/AspNetCoreSpa/issues/93

Can you add details with that issue?

[2017-05-09 12:24] #95 closed

[2017-05-09 13:52] sajidali2444 commented on #93
today i downloaded you project and restore packages. run it on local it worked perfectly.
when i try to publish it its throws errors can check image.
could not copy 5.js from dist to because not found.
could not copy 4.js because not found.
![publish](https://cloud.githubusercontent.com/assets/960620/25854134/70fbf970-34e8-11e7-919e-9ac3dfb87b2b.JPG)

[2017-05-09 15:07] asadsahi commented on #93
@sajidali2444 If you haven't tried, can you try running visual studio as administrator? As part of publish it run `npm run build:prod` script which deletes wwwroot/dist files and recreates the minified bundles. Looking at the errors it isn't deleteing or building is unable to read them.

[2017-05-09 19:02] m2017atTR commented on #87
Hello ,
I can recomment

`encapsulation: ViewEncapsulation.None,  `
as described at
[https://github.com/AngularClass/angular-starter/wiki/How-to-include-SCSS-in-components](https://github.com/AngularClass/angular-starter/wiki/How-to-include-SCSS-in-components)

[code]

hope it helps.

[2017-05-09 19:04] m2017atTR commented on #83
Update  about subject;

today I am working at home, same project at office HMR working perfect but at home
continuously building project as described. so problem result of some global npm or ... packages.

fyi

[2017-05-09 20:11] sajidali2444 commented on #93
i always run as Administrator
but still getting publishing error using visual studio 2017
can you please help i want go live project.

[2017-05-10 06:02] #87 closed

[2017-05-10 06:35] skorunka opened #96 "WARNING in ./~/@angular/core/@angular/core.es5.js; 5874:15-36 Critical dependency: the request of a dependency is an expression"
WARNINGs in webpack PROD build cause VSTS builds to fail:

[code]

[2017-05-10 06:36] skorunka commented on #96
See https://github.com/roscoe054

Change `webpack.config.js` (line cca 99):
from `/angular(\\|\/)core(\\|\/)src(\\|\/)linker/,` to `/angular(\\|\/)core(\\|\/)@angular/,`

[2017-05-10 06:36] #96 closed

[2017-05-10 07:09] skorunka commented on #92
@asadsahi Ok, no worries. I prefer SCSS over CSS. Maybe put this in to readme to avoid confusion.

[2017-05-10 07:09] #92 closed

[2017-05-10 09:44] asadsahi commented on #96
@skorunka thanks for pointing out. Fixed and checked in.

[2017-05-10 09:47] asadsahi commented on #92
Thanks @skorunka now you know that, how about creating a wiki for this?

Would you like to create one explaining this? :)

[2017-05-10 10:03] asadsahi commented on #93
@sajidali2444 if you delete wwwroot/dist folder before publishing it will work. For some reason visual studio publishing remembers the previous dist folder files. This issue doesn't happen if you try from command line using **dotnet publish**.

I raised this issue [here](https://github.com/aspnet/websdk/issues/162) with appropriate team.

[2017-05-10 10:06] asadsahi commented on #83
@m2017atTR if you have done a production build of this project this creates main.[hash].js file. and then if you run the project in dev mode, it may be reading the hashed version of main.js. Try deleting the wwwroot/dist folder and then run the project. That is the only reason I can think of right now for not running project under HMR.

[2017-05-10 10:06] asadsahi commented on #83
I am still trying to find appropriate solutions of this problem, but for now try this workaround.

[2017-05-10 10:07] #72 closed

[2017-05-10 21:38] asadsahi commented on #93
@sajidali2444 https://github.com/asadsahi/AspNetCoreSpa/commit/6cdf6ee0b97f4cec7c0a8f48ebcdd1547bb1d4ae should fix this issue.

Can you confirm?

[2017-05-12 14:57] robertcck opened #97 "npm run build:prod issue"
Hi,

I am having issue when publishing the site to IIS.
The publish process get stuck most of the time at running "npm run build:prod".  It gets stuck or getting out of memory error.

After updating the command in package.json file to
"build:prod": "node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js --config config/webpack.prod.js --env.prod"

seems to resolve the issue on my local

[2017-05-12 15:00] robertcck commented on #97
A bit more info.

I am trying to set up continuous build (CI) and deployment (CD) on TFS and the build got stuck on "npm run build:prod"

I tried to run that command on the TFS server manually and got the same result.

Thanks and looking forward for any comments

[2017-05-12 21:01] asadsahi commented on #97
@robertcck never seen this stuck, it takes a while indeed, but the CI I setup on appveyor, builds it as part of publishing:
See the progress here:
https://ci.appveyor.com/project/asadsahi/aspnetcorespa

On my local machine I build both from Visual studio publish which runs `npm run build:prod` in the brackground and `dotnet publish` from command line.

![image](https://cloud.githubusercontent.com/

[2017-05-12 23:37] robertcck commented on #97
@asadsahi  Thank you for your response.

OS is Windows Server 2012 R2 Standard
Node version is v6.10.3

[2017-05-12 23:39] robertcck commented on #97
![image](https://cloud.githubusercontent.com/assets/2003517/26020284/f9cf6262-37bf-11e7-85c1-9c390df9e1ed.png)

This is what happen when i try to run it manually from the cmd on the TFS Server

[2017-05-12 23:51] kiwiingenuity commented on #97
As a suggestion... Use your favourite search engine and search for "node js scavenge allocation failure".
Perhaps you will find and answer there?

[2017-05-13 02:19] robertcck commented on #97
@kiwiingenuity Thanks I will give it a try

[2017-05-13 13:05] skorunka opened #98 "Source maps for css are "empty""
The source map file for vendor.css looks like:
`{"version":3,"file":"vendor.css","sources":[],"mappings":";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;....`

Command used `npm run build:dev`

What should I change to have the source maps generated for vendor.css?

Thank you.

[2017-05-13 21:45] robertcck commented on #97
TFS build succeed after adding those extra parameters....

"build:prod": "node --max_old_space_size=2048 --optimize_for_size --max_executable_size=2048 --stack_size=2048 node_modules/webpack/bin/webpack.js --config config/webpack.prod.js --env.prod",

[2017-05-14 13:39] wendellm opened #99 "Visual Studio cannot restore any of OpenIddict packages"
Error	CS0234	The type or namespace name 'OpenIdConnect' does not exist in the namespace 'AspNet.Security' (are you missing an assembly reference?)

[2017-05-14 13:41] wendellm opened #100 "In VSCode F5 not working"
Visual Studio Code gives the following message Configured debug type 'coreclr' is not supported.
I have googled it and tried to resolve it but I get no real answer why.

[2017-05-14 14:38] m2017atTR commented on #100
Did you install the C# extension for VS Code and get the debugger extension?

[2017-05-14 14:50] m2017atTR commented on #99
I think some nuget source definition needed..
in visual studio menu
     Tools -> options -> nuget ... -> package source

`https://github.com/asadsahi/AspNetCoreSpa/blob/master/NuGet.config`

also if you are at that situation
   options -> ... -> external web tools

location must be ordered for node to use local one for primer if exist

fyi.

[2017-05-14 20:12] badre429 opened #101 "Create user and role management"
Create a fully-functioning user  management (crud based )

1. user management interface
1. role mangement based by permission

[2017-05-14 20:14] badre429 opened #102 "Change bootstrap with @angular/material"
@angular/material keep getting features and it hase huge support from google
then why not to replace bootstrap with @angular/material

[2017-05-14 21:32] m2017atTR opened #103 "RxJs DataService"
About angular and rx again :)

I am trying to achive server side paging,
[code]

How to service refresh list whenever vm updated/changed.

regards

[2017-05-15 09:28] skorunka opened #104 ""[HMR] bundle rebuilding" is running on and on"
When I run the app for the 1st time everything is OK. Bundles are generated etc..

After a simple change in client side code, the HMR rebuild the component but does not stop:

![image](https://cloud.githubusercontent.com/assets/218913/26051056/e7e45932-3958-11e7-840c-34b48b4c7dd2.png)

I have to shut down IISExpress/host and run application again.

I don't see any errors in the console, tslint has

[2017-05-15 09:36] skorunka commented on #102
This should be optional. The Bootstrap is still the leader on the market. Moreover BS4 should be without any jQuery so it will be more ng-friendly.

[2017-05-15 10:04] #97 closed

[2017-05-15 10:09] robertcck commented on #104
I had the same issue, cpu and memory are up high as a result.
I turned off HotModuleReplacement to resolve this issue

[2017-05-15 14:40] crh225 commented on #102
One reason to not use material2 yet is datepicker is still in progress
![image](https://cloud.githubusercontent.com/assets/19475195/26063032/59fa35ac-3952-11e7-9d5f-509cad727865.png)

[2017-05-15 16:56] badre429 commented on #102
the last version @angular/material@2.0.0-beta.5 has initial support for datepicker
[this is there demo sample ](https://material.angular.io/components/component/datepicker)

[2017-05-16 09:57] valentinmarinro commented on #52
Hi @asadsahi, any new development on aot compilation?

[2017-05-16 12:29] m2017atTR commented on #103
I solved via this,

pageChangedEvent(e) {
this.vm.startrow = e;   // startpage
this.Service.getList(this.vm)
            .subscribe(
            list => {  this.List = list;   },
            error => this.errorMessage = <any>error);
}

sorry for inexperience ....

[2017-05-16 12:32] m2017atTR commented on #102
I am using Material 2 and bootstrap together,
also added some components from source of primeng <- this coused continously hmr build (that I could not solve) so cancelled.

   I suggest to use demo project from Angular Material 2 source ... Thats not bad...

[2017-05-16 13:28] skorunka commented on #92
@asadsahi Will try ;)

[2017-05-16 13:31] skorunka commented on #104
@robertcck Yep, that's the only solution I found. BTW do you use primeng? I read in other discussions that it might actually cause the HMR issue.

[2017-05-16 21:24] asadsahi commented on #71
closing this for now. Provide source code with this issue.

[2017-05-16 21:24] #71 closed

[2017-05-16 21:30] asadsahi commented on #93
closing this for now as it is fixed.

[2017-05-16 21:30] #93 closed

[2017-05-17 07:20] m2017atTR opened #105 "Suggestion: Prod documentation"
@asadsahi
If that possible, can you please add documentation how to prepare solution for production ...

So can test that way

thanks.

[2017-05-17 12:18] j-nord opened #106 "publish to local iis-server"
In the development environment it runs fine.

But when you publish the project to iis-server with webdeploy the paths are not set correctly.

[2017-05-17 14:45] j-nord commented on #104
When copy our app code in app folder we have the same issue.

[2017-05-18 07:09] skorunka commented on #102
@m2017atTR Regarding that HMR issue, did you add primeng to webpack.dev.js:vendor ?

[2017-05-18 08:13] m2017atTR commented on #102
I dont need whole package , so i added a module named customui
and integrated a few like menu, multi select ext.(as you can see in menu at top, shows demo)

Generally i always work with 2 project, one for experimental and one for distilled :) screen from experimental.

 !!!   I think the problem is i am new at this angular 2+ consept,
       there is big changes...

[2017-05-18 08:29] m2017atTR opened #107 "Discussion : Sate management, is really needed or just subjects and behaviours is ok .."
... Hi Documentation is needed for Client Project i think,

there is a app-store that implements Store from @ngrx/store

[code]

but

If i go with this way have i think i have to write actions, reducers, ....

Is that possible to do this in siple way... I dont have many screen parts like hotmail or gmail pages...
Just a menu, category tree selected via menu, and filters that affects to views data

[2017-05-18 13:13] crh225 commented on #107
you can manage state using ngrx/store, or what I do is manage state in inject-able services. In my personal project I have an auth.service that gets injected that contains my logged in user/account info.

[2017-05-18 14:08] m2017atTR commented on #103
But i becomes headache ...
Multiple times calling ...whenever Observable stream thicks service calls :D lol

Really there is some misunderstanding here :)

How you solve this kind of problem. App Module heas filter and
sub module has views that takes data via App Module filter...
For communicate i am trying to go with shared service way...

I tryed to use Subcribe also... could not solve...

thank

[2017-05-18 22:17] asadsahi commented on #106
@j-nord can you explain which paths are you referring to?

[2017-05-18 22:40] asadsahi commented on #105
@m2017atTR  how about [this ](https://github.com/asadsahi/AspNetCoreSpa/wiki/Production-deployment) wiki? Any improvements, let me know?

[2017-05-19 06:58] j-nord commented on #106
You take you projct and make a webdeploy package (path: "test" or other). Then you start you iis-server and import you project.

When you start your website your project doesn't work, because  the paths are set incorrectly.

[2017-05-19 08:14] m2017atTR opened #108 "angular2-google-maps package update"
Their package is deprecating so, can we add new one..

[2017-05-19 08:47] m2017atTR commented on #107
ngrx/store is a must, if application is not consist of 2 components. period.

[2017-05-19 08:47] #107 closed

[2017-05-19 11:02] m2017atTR commented on #105
There is a few kind of publish in .net core
https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/

According to server and server installation it can variate...

For this project i want to run on linux and ngix, and need https

this guy is doing great job about his work... Some inspiration dont hurts i think..

https://github.com/ASP-NET-Core-Boilerplate/Templates/blob/master/MVC%206%20

[2017-05-20 06:33] phongptn93 opened #109 "How deloy to azure"
Hello,

How i can deloy to azure,
I changed the file, but why it retains the old version

Thank you

[2017-05-20 09:35] m2017atTR commented on #109
For visual studio already there is a config in project also you can look this issue

https://github.com/asadsahi/AspNetCoreSpa/issues/105#issuecomment-302561044

[2017-05-20 10:35] phongptn93 commented on #109
@m2017atTR : you can clear talk about it ?

[2017-05-20 18:24] m2017atTR commented on #109
[https://github.com/asadsahi/AspNetCoreSpa/wiki/Production-deployment](https://github.com/asadsahi/AspNetCoreSpa/wiki/Production-deployment)

[2017-05-20 21:48] asadsahi commented on #106
@j-nord, I don't have experience deploying on IIS with webdeploy as a package. I have deployed on azure webapp using web deploy script mentioned in readme or simply deploy on IIS with xcopy. So, not sure I will be able to help you in your specific scenario.

[2017-05-20 21:51] asadsahi commented on #105
@m2017atTR, sure you can improve the wiki I created with any other mechanism for production deployment OR the ones in the wiki. Other may get benefit from this too.

[2017-05-20 21:53] asadsahi commented on #108
@m2017atTR can you create a pull request with the update after verifying the correct version works well?

[2017-05-21 00:26] phongptn93 commented on #109
@m2017atTR : Thank you, i have done it :D, via  clear web and update again :D
http://stackoverflow.com/questions/17476525/clean-windows-azure-website/17552723#17552723
But your idea is greate, I will check it <3, Thank you

[2017-05-21 00:50] Azayzel opened #110 "Cannot get File Publish to work"
I can't seem to get File Publish to build successfully. An ideas?
I can't figure out what comes after this bit to try to resolve it.

** I am using VS 2017
[code]

[2017-05-21 04:25] Azayzel commented on #110
right now I am stuck on deployment. I've tried every possible solution and I end up with the above result.

[2017-05-21 12:31] m2017atTR commented on #103
There are tons of tutorials out there that go over the basics of using Redux, but it’s hard to find a lot of info on fitting it all together. Even once your figure out how they all fit together, it can seem like a lot of extra work with little benefit.

 think there must be some kind of this sugar in this solution too...

[2017-05-21 13:00] Azayzel commented on #110
It's definately a problem with the webpack configs. When run publish with this .csproj, everything builds fine
[code]

[2017-05-22 14:54] crh225 commented on #110
What version of node/npm/typescript is installed on your machine?

[2017-05-22 15:13] robertcck opened #111 "Question: Access site by passing in token programmatically"
Hi all

I am working on a task where I need to generate the token of my site (lets call it site A which is based on this project) ahead of time, pass it to Site B. Allow Site B to access Site A by passing the access token without user login. Site A still need accessible on its own.

I have got to a point where I can open Site A via Site B and webapi is working. I did that in the Auth Guard to set

[2017-05-22 16:01] layinka opened #112 "Dotnet restore fails"
Hi,

Dotnet restore fails , it cannot connect to https://dotnetmyget.blob.core.windows.net/artifacts/aspnetcore-ci-dev/nuget/v3/flatcontainer/aspnet.security.openidconnect.extensions/index.json

 _An error occurred while sending the request.
    The connection with the server was terminated abnormally
  Retrying 'FindPackagesByIdAsync' for source 'https://dotnetmyget.blob.core.windows.net/artifact

[2017-05-22 23:35] Azayzel commented on #110
Node: v6.6.0
TS: Version 2.3.0-dev.20170303
NPM: 4.6.1

[2017-05-24 00:51] Azayzel commented on #110
Is anyone else able to publish via File Publish? I grabbed a fresh copy of the project and still was not able to.

[2017-05-24 02:08] kiwiingenuity commented on #110
I just tried the following:
1.  Cloned the repository
2.  cd aspnetcorespa
3.  dotnet restore
4.  npm install
5.  dotnet publish
6  cd bin\debug\netcoreapp1.1\publish
7  dotnet aspnetcorespa.dll

All worked as expected!

[2017-05-24 02:16] kiwiingenuity commented on #106
@j-nord, I'm not sure what paths you are referring to in IIS server.
One catch however is that if you are deploying to IIS and using SQL server, you do need to create permissions in SQL Server Manager, so that the application can access the database.

[2017-05-25 00:42] Azayzel commented on #110
maybe becuase my TS verison is ahead of the packages? Ill try to uninstall and re-install 2.2.2

[2017-05-25 01:25] Azayzel commented on #110
Tried the above  and i still get the below..

[code]

[2017-05-25 01:39] Azayzel commented on #110
Ok, when adding ``` -f ```` to npm build in .csproj, it builds perfect.

[code]

[2017-05-25 01:39] #110 closed

[2017-05-25 06:25] m2017atTR commented on #108
Steps according to  [docs of angular-google-maps](https://github.com/SebastianM/angular-google-maps/blob/master/CHANGELOG.md#breaking-changes)

app\+examples\google-maps
     remove: import { AgmCoreModule } from 'angular2-google-maps/core';
     add :      import { AgmCoreModule  } from '@agm/core'

app\+examples\google-maps add
[code]

[2017-05-25 10:25] #111 closed

[2017-05-31 08:08] m2017atTR commented on #112
Are you behind corporate proxy/firewall ?

[2017-06-02 05:51] robertcck opened #113 "[Question] Speed up Build:Prod????"
Is there anyway we can speed up the build process for production release? Its currently taking very long to process...

Thanks
Robert

[2017-06-02 10:55] asadsahi commented on #105
[Here](https://github.com/asadsahi/AspNetCoreSpa/wiki/Production-deployment) are some basic notes on prod deployment options.

[2017-06-02 10:55] #105 closed

[2017-06-02 10:57] asadsahi commented on #102
UI requirement is different for each project. This project is using bootstrap as an example. Purpose of this project is not to offer various UI libraries, but a complete full stack single page application framework. Closing as it seems out of scope.

[2017-06-02 10:57] #102 closed

[2017-06-02 10:59] asadsahi commented on #100
closing it for now based on more information required.

[2017-06-02 10:59] #100 closed

[2017-06-02 11:01] asadsahi commented on #103
@m2017atTR not sure if this is in the scope of this project. You need to rely on finding an example online for server side pagination if that is what you are trying to implement in this project.

[2017-06-02 11:01] #103 closed

[2017-06-02 11:03] asadsahi commented on #113
@robertcck unfortunately I don't think of anything which can be done for production build performance. It is building client side artefacts using webpack, which take more time in the build project. In future this project may improve, so we'll have to rely on toolings for that.

[2017-06-02 11:03] #113 closed

[2017-06-02 11:04] asadsahi commented on #109
Closing as no further action is required.

[2017-06-02 11:04] #109 closed

[2017-06-02 18:04] layinka commented on #62
Hi,
I ma having a little challenge with this, after login in with facebook, it redirects me to account/accessdenied ad then it gives me the error below.

_Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'Account/AccessDenied'_

[2017-06-02 18:05] layinka commented on #112
No,
It was the openiddict packages that were failing.

I managed to fix it by updating the myget references

[2017-06-04 06:23] Swift-T commented on #112
I'm having the same issue. Could you tell me how you update the reference?

[2017-06-05 10:49] layinka commented on #112
I changed my Nuget.config file to the below

*<?xml version="1.0" encoding="utf-8"?>*
*<configuration>*
*  <packageSources>*
*    <add key="dotnet-core"
value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
<https://dotnet.myget.org/F/dotnet-core/api/v3/index.json>" /> *
*    <add key="NuGet" value="https://api.nuget.org/v3/index.json
<https://api.nuget.org/v3/index.json>" />*
*    <add

[2017-06-06 10:31] asadsahi commented on #108
Thanks @m2017atTR done.

[2017-06-06 10:31] #108 closed

[2017-06-06 10:33] asadsahi commented on #106
deployment to iis work, but webdeploy package isn't in scope of this project, hence closing.

[2017-06-06 10:33] #106 closed

[2017-06-06 10:35] asadsahi commented on #99
@wendellm unable to reproduce it, try against latest codebase, if problem still persist, please share code with reproduction.

[2017-06-06 10:35] #99 closed

[2017-06-06 10:38] asadsahi commented on #101
@badre429 I am not planning to add this functionality in this project yet, however happy to merge if someone can create a PR for this functionality and if this can easily be removed for people who don't need user/role management. Something like a complete user management module for admins only.

[2017-06-06 10:38] #101 closed

[2017-06-09 10:28] m2017atTR commented on #104
Hello again,
  this happened when i added/imported css in vendor,
i am not sure what couses your problem to happen but i just wanted to notice.

for example, this actions made my situation same HMR build again and again,
     when using primeng its css coused some problems..
     when i tryed to add custom angular material theme like exactly described on their site.

good luck

[2017-06-09 18:03] crh225 commented on #104
Are you using Visual Studio 2017?

[2017-06-10 08:53] skorunka commented on #104
@crh225 I have this setting in my csproj file.

[2017-06-10 16:00] tograil opened #114 "aliases for TypeScript"
Currently I'm trying to merge your snipped with one of my previous works and can't integrate aliases properly. When I try to run build it, it is just don't see it. Which aliases is visible? TypeScript or WebPack? How I should propely configure webpack to have aliases inside?

[2017-06-10 17:18] Josh001 opened #115 "Node module Failed"
After publishing and uploading to azure i get this error HTTP Error 502.5 - Process Failure so i came back to the publish folder to do dotnet ./Aspnetcorespa.dll but i get the error
(Call to Node module failed with error: Webpack dev middleware failed because of an error while loading 'aspnet-webpack'. Error was: Error: Cannot find module 'aspnet-webpack'

I have tried several solutions not workin

[2017-06-11 08:43] Swift-T commented on #73
I was able to reproduce knowshape's error in sql server express. The problem was probably because you didn't create a database in advance. Using localdb, it runs without a problem.

[2017-06-11 17:07] KhalilMohammad opened #116 "Usage of Beta packages"
Should not all angular and other packages should be stable.
In the packages.json some packages are of beta version.
I would like to know if there is a reason for using beta packages?

[2017-06-11 17:09] Josh001 commented on #115
After uninstalling my nodejs and npm also purging all npm packages and reinstalling, i  went to visual stio 2017 then published the project again now it then Works. So my question is what happens to the hosting.json file when am online i.e on azure what happens to the file do i configure the http binding and also do i need to do any configuration on my freshly created web+Sql app on azure

[2017-06-12 11:08] asadsahi commented on #114
@tograil can you please explain what do you mean by aiases?

[2017-06-13 21:53] asadsahi commented on #116
@KhalilMohammad with the quick pace and release cycle of some of these libraries I just wanted to keep up with the latest and greatest of these libraries so that migration becomes easier as soon as library is released. Thats all. :)

Just upgraded angular to current latest.

[2017-06-13 21:53] #116 closed

[2017-06-14 10:39] m2017atTR opened #117 "ɵDomAnimationEngine on 4.2..."
import {
    ɵAnimation as Animation, AnimationDriver,
    ɵAnimationStyleNormalizer as AnimationStyleNormalizer, ɵDomAnimationEngine as DomAnimationEngine
} from '@angular/animations/browser';

Material 2 and Some custom animations crahed on ɵDomAnimationEngine part.

[2017-06-15 08:55] m2017atTR commented on #114
I thin we are talking about this  subject,

[https://webpack.js.org/configuration/resolve/](https://webpack.js.org/configuration/resolve/)

[2017-06-15 08:57] m2017atTR commented on #104
Ps.
Today again i faced with this problem,

problem was coused by PrimeNg Editor Component, I am not installing with npm using source code of PrimeNg becouse i need some custom needs on their component.

and when i remove Editor/Quill from project HMR runs perfectly...

[2017-06-15 09:05] m2017atTR opened #118 "authentication"
Solution is working perfectly about authentication and authorization
refresh token ext.

When I work today then close computer and came back refresh token is workin properly but if i dont log in again i face with some errors
auth-token.service.ts / startupTokenRefresh crahes on JSON.parse(tokensString)

Question : Is there more thinks to do about JWT on client side ?
at when jwt time out ask user

[2017-06-19 08:04] WanjyDan opened #119 "HTTP Error 502.5 - Process Failure"
I am getting this error when i run 'dotnet ef migrations add "MigrationName"'
![image](https://user-images.githubusercontent.com/23149113/27275065-8c38fc36-54de-11e7-9194-2370430f2935.png)
Please help..

[2017-06-20 14:03] m2017atTR commented on #119
'dotnet ef migrations add "MigrationName"'
- remove quotes if you used

- if u r using visual studio, look at Outpur,Error list, for more detail.

good luck

[2017-06-20 22:15] garethstar opened #120 "Deploying to DigitalOcean"
All is working great locally.

I can get the dotnet core side of things to deploy but I am failing on the angular.

i'm using git lab CI CD to build and deploy if that helps.

Does any one have any advice for this please

Thanks Gareth

[2017-06-24 07:30] layinka opened #121 "Documentation help"
Hi,
Please can you help with more documentation?

For example, how do i detect if a user is logged in or not?

[2017-06-24 07:30] layinka commented on #62
Hi, Does anyone have a solution to this yet?

[2017-06-28 10:01] sjumble opened #122 "Common SCSS not working"
Added a new _main.scss in Style folder.
Then imported in Main.ts, also tested the same by importing in app.component.ts
The css in _main.scss are not been applied, can some please added a new _main.scss and let us know how to import a new global scss file.

[2017-06-28 10:03] sjumble commented on #121
You an check the header.html, it shows some menu based on if user is logged in or not.

[2017-06-30 16:23] BaoStorm opened #123 "How to do Visual Stduio Release Npm Run build?"
How to do Visual Stduio Release Npm Run build?

[2017-07-03 12:51] m2017atTR commented on #122
Can be fixed by various ways,
- mine is add  encapsulation: ViewEncapsulation.None to app.component.ts then add global css

        @Component({

         selector: 'appc-root',
        templateUrl: './app.component.html',
        styleUrls: [
         './app.component.scss'
         ,'./primengtheme.scss'
         ,'./primengbase.scss'
          ],
        encapsulation: ViewEncapsulation.None

[2017-07-03 12:52] m2017atTR commented on #104
this problem hitting again ...
could someone find certain solution ?

[2017-07-03 16:05] asadsahi commented on #123
@BaoStorm its done in csproj file. [Here](https://github.com/asadsahi/AspNetCoreSpa/blob/master/AspNetCoreSpa.csproj#L21) is the code:

[2017-07-03 16:05] #123 closed

[2017-07-03 16:06] asadsahi commented on #121
@layinka see explanation by @sjumble if this helps. There isn't any special code, its just a simple method to determine if user is logged in.

[2017-07-03 16:06] #121 closed

[2017-07-03 16:09] asadsahi commented on #120
@garethstar I don't have an experience with digital ocean CI. You need to contact their support if and how they support .net core web apps.

[2017-07-03 16:09] #120 closed

[2017-07-14 16:11] yuenon opened #124 "Node --version v6.11.1"
I am new for ASP.net core.  I tried to start this application.  I got the following messages:    Would you please tell me what I should do
fail: Microsoft.AspNetCore.NodeServices[0]
      (node:2968) DeprecationWarning: loaderUtils.parseQuery() received a non-st
ring value which can be problematic, see https://github.com/webpack/loader-utils
/issues/56
fail: Microsoft.AspNetCore.NodeServices[0]

[2017-07-17 21:13] devchild commented on #83
Hi,

I have a related problem.
I am trying to integrate a custom theme, but I am stuck.
I added to theme files in the wwwroot\assets directory.
I imported the css files from the theme using import('path to theme css')

When I run the application, I get an error that the font used in the theme can't be resolved. The font is also in the assets directory, but the theme can't resolve it as the css get

[2017-07-19 07:46] meninjanho4788 opened #125 ".Net Framework?"
Dear Asad Sahi.
What your .net framework you use?
4.5 or 4.6.2 or 4.5.2

I use framework 4.6.2 can't find some library OpenIdConnect and OpenIddict
OpenIddict, it error it only support .Net below 4.5.2

Thank

[2017-07-21 15:18] #125 closed

[2017-07-21 15:19] meninjanho4788 commented on #125
i had solve my problem

[2017-07-21 16:31] meninjanho4788 commented on #118
i have same problem with login, i no see JWT in this project. when user out browser they must login againt.

[2017-07-25 15:50] asadsahi commented on #52
@valentinmarinro @crh225 @Krishna-teja I have done some work in AOT in a seperate branch called netcore2. There are alot of changes in .net core 2 which until its not released, will  not make it to master. AOT and SSR are part of those changes as well. Thought to update you guys.

[2017-07-25 15:52] asadsahi commented on #55
@patrickgoeler @BitFlipp3r I have made some SSR progress in netcore2 branch of this project. But there are few libraries that aren't supported for SSR yet, e.g ng-bootstrap and material2 etc. So thought of updating you guys that those features are coming.

[2017-07-25 17:18] BitFlipp3r commented on #55
Awesome. Thank you very much for your efforts. Please take your time :)

[2017-07-28 07:24] meninjanho4788 opened #126 "ExternalLogin cant create new UserExternal"
Dear Asad Sahi.
I try to set ClientId and ClientSecret, but Google login cant go to page CreateAccount on Angular route.
How to do that and get token_id same Default Login, which you did.

My English is very bad. I need ExternalLogin can Asyn with DefaultLogin and response Token_id.

Thank you so much.

[2017-07-30 03:22] HeMinzhang opened #127 ""Cannot insert the value NULL into column 'Id"
https://github.com/aspnet/Identity/issues/606

[2017-07-30 22:36] pvagnini opened #128 "Screen Width on Wide Screens"
Hi, Is there a way to get this spa to span the full screen width on wide screen displays please?

[2017-07-31 14:09] asadsahi commented on #128
@pvagnini
Removing class="container" around the appc-container component shows it full screen:

![image](https://user-images.githubusercontent.com/3470892/28781505-321c6cde-7602-11e7-8c49-b01e8c42df39.png)

Is this what you'are trying to achive?

[2017-08-01 14:46] sjumble opened #129 "UserId not found"
GetUserId extension method returns 0 every time? does any face's the same issue?

[2017-08-01 15:24] #129 closed

[2017-08-01 15:29] sjumble opened #130 "VS 2015"
Can we anyhow migrate this project to Visual studio 2015, Even if we create a new project in 2015

[2017-08-02 00:07] floriandubois opened #131 "Facebook question"
Hi,

What should be the Valid OAuth redirect URIs during debug (let's say I'm on http://localhost:5000)?
I tried multiple urls but can't figure out what it should be.

Thank you for your help.

[2017-08-02 00:51] floriandubois commented on #131
So I figured out I just need to pass http://localhost:5000 as url. Now, the thing is after authenticating with facebook the url becomes /Account/AccessDenied?ReturnUrl=...
What does it mean? Is it because the user is not registered in the local db?

[2017-08-05 20:44] meninjanho4788 opened #132 "could you upgrade this project to .NetCore 2.0 ?"
could you upgrade this project to .NetCore 2.0 or create new project for .Netcore 2.0

Thank you so much.

[2017-08-05 21:50] asadsahi commented on #132
@meninjanho4788  I have a branch which is being worked on for .net core 2.0. But there are few dependencies which aren't supported for .net core 2.0 yet. As soon as that branch is stable with all the packages, will make that master.

https://github.com/asadsahi/AspNetCoreSpa/tree/netcore2

[2017-08-06 16:29] meninjanho4788 commented on #132
thank you @asadsahi  so much.

[2017-08-06 16:29] #132 closed

[2017-08-17 08:33] KollarM opened #133 ".net core 2.0 support"
Are there any plans to upgrade to .NET Core 2.0 ?

[2017-08-17 11:06] kanpinar commented on #102
So, Can we create another branch for Angular Material 2.... ?
This can be very usefull, i guess.. Material 2 changing very fast and they have new system named CDK
https://github.com/angular/material2/tree/master/src/cdk

[2017-08-17 11:17] kanpinar commented on #44
:) in turkish we say "içinde içinde"
That means Solution is in it....
There is a few questions about that, you can check...

For your need steps may be (I did with this way)
  1- read
[https://github.com/angular/material2/blob/master/guides/getting-started.md](         https://github.com/angular/material2/blob/master/guides/getting-started.md)

  2- Start with small target, so skip themes ext.
  3

[2017-08-17 12:02] kanpinar opened #134 "Angular Material 2 - Branch Is that possible"
Hello I think another branch is needed, for using with Angular Material ...

Is that possible ? #44 #102

[2017-08-17 12:30] #130 closed

[2017-08-19 07:28] meninjanho4788 opened #135 "Branch: SignalR not have table Matches and Feeds ?"
Dear Asad Sahi !
Could you give me query or how to create 2 table need in Branch: SignalR ? and data in this table
I have one error when run file ServerChat\Core\FeedEngine.cs function UpdateScore();

My Error :

  HResult=0x80004002
  Message=Specified cast is not valid.
  Source=Microsoft.EntityFrameworkCore.Relational
  StackTrace:
   at Microsoft.EntityFrameworkCore.Storage.Internal.UntypedRel

[2017-08-20 11:14] JRC86 commented on #133
There is a netcore2 branch

[2017-08-24 01:45] #126 closed

[2017-08-25 22:52] sharethl opened #136 ".NetCore2 branch running error"
Can anyone run .net core 2 branch?
After running those setup commands, the website loaded, after login, register and login buttons are still there. and click them will result in new view been insert in the current page.
![image](https://user-images.githubusercontent.com/1747556/29735386-973e1b94-89c6-11e7-82bf-a185e71cfe30.png)

[2017-08-26 07:32] ehouarn-perret commented on #134
@kanpinar
Related stuff: https://github.com/aspnet/JavaScriptServices/issues/1231
I managed to make it work, I started to work on a solution... if it can help, I plan to create template once I'm done. The template would be something like the bootstrap one except using the datatable instead of the table for the weather forecasts example, the sidenav instead of the bootstrap nav.

My repository: htt

[2017-08-26 08:18] ehouarn-perret commented on #44
@kanpinar have you experienced some discrepancies with the original MS SPA Angular template for ASP.NET Core 2.0(https://github.com/aspnet/JavaScriptServices/tree/dev/templates/Microsoft.DotNet.Web.Spa.ProjectTemplates/angular)?

Long story short, I have a "working" solution supporting Angular Material 2 (no JS warning when running and the controls are all running fine). However, I am facing one s

[2017-08-27 05:22] ehouarn-perret commented on #134
Related stuff:
 * https://github.com/aspnet/JavaScriptServices/issues/1231

[2017-08-30 12:27] herbat73 commented on #136
Yes. Same bug for me with SQL Express.

[2017-09-06 06:52] meninjanho4788 commented on #62
Please help us this issue with login FB, Google

[2017-09-07 18:38] WanjyDan opened #137 ".Net Core 2.0 error: ambiguous call"
The call is ambiguous between the following methods or properties: 'EntityFrameworkQueryableExtensions.Include<TEntity, TProperty>(IQueryable<TEntity>, Expression<Func<TEntity, TProperty>>)' and 'EntityFrameworkQueryableExtensions.Include<TEntity, TDerived, TProperty>(IQueryable<TEntity>, Expression<Func<TDerived, TProperty>>)'	AspNetCoreSpa	\AspNetCoreSpa-netcore2\Server\Repositories\EntityBaseRe

[2017-09-09 00:06] enriquesouza commented on #96
How can I Update it. I just installed with Aspnet Core SPA.

[2017-09-11 03:35] pvagnini commented on #128
Yes exactly what I was looking for.

Thanks

[2017-09-11 03:35] #128 closed

[2017-09-15 08:26] WanjyDan opened #138 "File main-client.js not found"
main-client.js is not found in the dist folder

[2017-09-18 14:52] Razzeee opened #139 "Update to new angular HttpClient instead of Http"
Update from `Http` to `HttpClient`

[2017-09-19 08:19] Razzeee commented on #139
Especially https://github.com/asadsahi/AspNetCoreSpa/blob/master/Client/app/core/services/data.service.ts needs the update

[2017-09-20 08:05] #137 closed

[2017-09-20 08:05] #138 closed

[2017-09-20 08:07] WanjyDan commented on #136
Me too.

[2017-09-20 15:32] idilshod87 commented on #136
Try change "View/Home/Index.html" file.
        <appc-root asp-prerender-module="ClientApp/dist/main-server">
            <div class="app-spinner">
                <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
            </div>
         </appc-root>
to
    <appc-root asp-ng2-prerender-module="ClientApp/dist/main-server">
        <div class="app-spinner">
            <i class="fa

[2017-09-21 02:47] sylvaincaillot commented on #104
I was facing the same issue today with [HMR] bundle rebuilt
Removing "allowJs": true in tsconfig.json made the trick.

[2017-09-24 11:40] WanjyDan opened #140 "How to implement CORS"
I am running the APIs as the back-end and the Angular as the front-end in different projects. How do I implement CORS.
I found this commented lines of code in _data.service.ts_:
`private addCors(options: DataServiceOptions): DataServiceOptions {

         options.headers['Access-Control-Allow-Origin'] = '*';
         return options;
     }`
If I uncomment the code, how can I implement the `addCors

[2017-09-26 13:01] atrevers commented on #44
@ehouarn-perret Have you managed to find a solution to this issue? I'm getting exactly the same issues with HMR (like you, I've had to change the tag for server pre-rendering).

[2017-09-27 13:30] kmiskiewicz commented on #62
Anyone was successful with social registration?

[2017-09-27 14:48] meninjanho4788 commented on #62
no i am not, i waiting

[2017-09-28 07:58] #140 closed

[2017-10-02 09:01] WanjyDan opened #141 "dotnet core 2 error"
`Cannot read property 'indexOf' of undefined. HeaderComponent.html: 42`

[2017-10-04 05:56] sajidali2444 opened #142 "Entity framework issue"
Migrate function not working. throwing error **login provider key** as primary key can not be used as index.
can you help me please to resolve this.

[2017-10-05 00:49] scott444 opened #143 "netcore2 branch: initial database migration naming issue for Language table"
It appears that there is inconsistent naming in the initial database migration for the Language entity that is causing exceptions during initial run.

Changing the table name from Language to Languages resolves these.

[2017-10-05 01:41] scott444 commented on #143
Looks like this was already resolved!

[2017-10-05 01:41] #143 closed

[2017-10-13 07:48] ARobsonAxco opened #144 "Cannot generate new component using Angular CLI"
In the 2.0 branch when I run the following command (to generate a component using angular cli) "ng g c test" I get the following "Error: Could not find an NgModule for the new component. Use the skip-import option to skip importing components in NgModule."

I found a simple workaround in this article https://programmium.wordpress.com/2017/10/02/ng-add-angular-cli-to-net-core-angular-template/

[2017-10-13 14:58] layinka opened #145 "PWA Support"
I really appreciate the work being done on this project. It has made life easier for all of us,i will bet.
I just checked out the netcore2 branch and i can see its already supporting angular 5 rc.

Being that PWA support is one o f the focus of angular 5, is there any chance this project can be adopted for a PWA project?
Any pointers?

[2017-10-14 19:34] badre429 opened #146 "Update @NGRX to the new version"
@ngrx 4.0.0 version hase breaking changes
the project need refactoring to support the new version

[2017-10-18 18:18] asadsahi commented on #141
@WanjyDan  this should be fixed now.

[2017-10-18 18:18] #141 closed

[2017-10-18 18:21] asadsahi commented on #144
@ARobsonAxco this should be fixed now.

[2017-10-18 18:21] #144 closed

[2017-10-18 21:59] asadsahi commented on #142
@sajidali2444 can you provide some more details about the issue? screenshot, environment, sql server version etc.

[2017-10-18 22:01] asadsahi commented on #145
@layinka hopefully in future more features will be added.  Will add offline support soon. But things like SSR aren't as stable as they should be. any 3rd party library I am trying to implement such as ng-bootstrap or signalr client isn't working well with SSR. But

[2017-10-30 13:37] ExusAltimus commented on #104
I was also facing this issue, fixed by removing "declaration": true in tsconfig.json.

[2017-11-02 04:57] wizicer opened #148 "ios 8 safari and android 4.4 chrome 32 support"
In up-to-date modern browser, it works without flaw. however, in both ios 8 safari(ipad 4) and android 4.4.4 chrome 32(nexus 7 gen2), it won't work. Both have the similar error:
`Cannot call method apply of undefined`, the undefined means `Object.assign`.
I deem it should be something relates to `assign` method polyfill.

With my limited knowledge about polyfill with webpack, I can't get it to wor

[2017-11-02 10:20] wizicer commented on #148
Here is my findings:
I follows the guide: <https://angular.io/guide/webpack> very carefully. Then it works, although I'm still not deeply understand how webpack works.

[2017-11-04 13:39] asadsahi commented on #133
master is at .net core 2 now.

[2017-11-04 13:39] #133 closed

[2017-11-04 13:41] asadsahi commented on #139
@Razzeee master should have new HttpClient now.

[2017-11-04 13:41] #139 closed

[2017-11-04 13:42] asadsahi commented on #127
closing as it isn't quite clear what the issue is.

[2017-11-04 13:42] #127 closed

[2017-11-04 13:43] asadsahi commented on #135
master has a simple implementation of signalR core now. git this a go.

[2017-11-04 13:43] #135 closed

[2017-11-04 13:46] asadsahi commented on #134
@kanpinar I don't have any plan to create material branch right now. However implementation should be straight forward just like any other UI framework/library. Maybe once material 2 is finally released I can give it a go to avoid handling breaking changes until then.

[2017-11-04 13:46] #134 closed

[2017-11-04 13:46] asadsahi commented on #142
closing as more information required.

[2017-11-04 13:46] #142 closed

[2017-11-04 13:48] asadsahi commented on #114
more information is required. closing until then.

[2017-11-04 13:48] #114 closed

[2017-11-04 13:50] asadsahi commented on #122
@sjumble try @m2017atTR 's idea, if there is any particular issue you still encounter please share a repo with reproduction. Thanks

[2017-11-04 13:50] #122 closed

[2017-11-04 13:51] asadsahi commented on #117
@m2017atTR I don't have much knowledge around these apis. If you can provide a reproduction repo to explain in more details. I can try and have a look. Thanks

[2017-11-04 13:51] #117 closed

[2017-11-04 13:52] asadsahi commented on #112
closing as it looks like no further action needed.

[2017-11-04 13:52] #112 closed

[2017-11-04 13:55] asadsahi commented on #119
@WanjyDan I haven't seen any issues with creating new migrations. if you still had some specific issue with this project please let me know and I can have a look in details.

[2017-11-04 13:55] #119 closed

[2017-11-04 13:57] asadsahi commented on #83
master is at .net core 2 now which does compilation a little cleanly. Give this a go, if you encounter any more issues, please let me know and I can look in more details.

[2017-11-04 13:57] #83 closed

[2017-11-04 14:02] asadsahi commented on #52
Hi guys, master is on .net core 2 now which has AOT build support in it. Give it a go, let me know if you encounter any issues. Thanks

[2017-11-04 14:02] #52 closed

[2017-11-04 14:06] asadsahi commented on #55
Hi guys, just to update you on this one. I still can't see a clean way to make it work with SSR. With more features and libraries it breaks on SSR mode. So it is a trade off between having more functionality with 3rd party libraries or getting SSR working in a small demo project. So we'll have to wait until it gets more stability around third party libraries like ng-bootstrap or SignalR etc.

[2017-11-04 14:09] asadsahi commented on #104
tsconfig is a little clean now. so if allowJs was the issue it shouldn't happen anymore. As always I cannot reproduce this. Closing this one until someone ca see this issue again in a specific scenario. Thanks

[2017-11-04 14:09] #104 closed

[2017-11-04 14:10] asadsahi commented on #124
@yuenon this shouldn't happen anymore. I guess this may have been because of SSR, which is on hold for now. Master has got some enhancements and fixes in it. Give it a try  and let me know if you encounter this again. Thanks.

[2017-11-04 14:10] #124 closed

[2017-11-05 21:40] kmiskiewicz opened #149 "How to donate you?"
Thank you so much for really great project. I learnt a lot from your code.  Some newest pattern were difficult to understand but everything what you prepared is awesome. How can we donate you? :-)

[2017-11-05 23:07] kmiskiewicz commented on #62
Check the newest version, right now is at least two steps further. After social login the account is created and user can be sign in by signin manager (C# side). I think the Angular part left.

[2017-11-05 23:58] asadsahi commented on #62
@kmiskiewicz thats right, only part left is token generation and send it to client to auto login after social account creation.

[2017-11-06 20:10] asadsahi commented on #149
@kmiskiewicz thanks for your kind words. Happy to hear that. :)

If you wanted to donate, I have just created a donation button from paypal at the bottom of this project's main page.

Thanks.

[2017-11-06 21:09] kmiskiewicz commented on #149
Done 👍

[2017-11-06 21:09] #149 closed

[2017-11-06 21:16] asadsahi commented on #149
Thanks, appreciate that 👍

[2017-11-07 04:24] pvagnini opened #151 "Controller Authorisation"
I have used your ASP Core 1.1 project and it has been fantastic thank you so much.

I am now working with ASP Core 2.0 version however when using the project data.service.ts I can only seem hit the controller if I include [AllowAnonymous] in the controller method even when I am logged in properly.

What am I missing please?

[2017-11-07 10:29] asadsahi commented on #151
which controller action you are trying to hit?

[2017-11-07 11:33] pvagnini commented on #151
I am using my own Get method on the ProfileController that worked fine with the previous ASP Core 1.1 version project.

TypeScript Service uses the data.service.ts in the new project;
     public GetRoles(): Observable<any> {
        return this.dataService.get('api/Profile/GetRoles');
    }

The start of the Controller method is
 [HttpGet("GetRoles")]
        public IActionResult GetRoles()

[2017-11-07 12:07] asadsahi commented on #151
@pvagnini thanks for explaining. It looks like a bug. Will update soon.

[2017-11-07 13:34] asadsahi commented on #151
@pvagnini [this](https://github.com/asadsahi/AspNetCoreSpa/commit/aa3594fda04568bab7bd06752e90b469dab17e10) should fix this. give a try and let me know if you find any more issues.

Thanks

[2017-11-07 13:41] asadsahi commented on #148
@wizicer [polyfills.ts](https://github.com/asadsahi/AspNetCoreSpa/blob/master/ClientApp/polyfills.ts) has some commented out code which explains some polyfill usages for older browsers. Perhaps "import 'core-js/es6/object';" will fix error you mentioned above. I haven't tried that myself, but you better off uncommenting all the polyfills mentioned for IE9 onwards and try again.

Each project have

[2017-11-07 13:41] #148 closed

[2017-11-07 14:24] asadsahi commented on #136
looks like this is related to [this](https://github.com/aspnet/JavaScriptServices/issues/1231
)

[2017-11-07 16:13] asadsahi commented on #98
[this](https://github.com/asadsahi/AspNetCoreSpa/commit/6bc37cc7ad49d99d459724c93770079030b75be4) should have sourcemaps for external css.

[2017-11-07 18:55] beriniwlew opened #152 "Can't run dotnet run migratedb seeddb"
When attempting to run "dotnet run migratedb seeddb", it throws an exception.

Unhandled Exception: System.FormatException: Unrecognized argument format: 'migratedb'.
   at Microsoft.Extensions.Configuration.CommandLine.CommandLineConfigurationProvider.Load()
   at Microsoft.Extensions.Configuration.ConfigurationRoot..ctor(IList`1 providers)
   at Microsoft.Extensions.Configuration.ConfigurationBu

[2017-11-07 21:25] pvagnini commented on #151
Yes this appears to fix the issue.

Once again many thanks.

[2017-11-07 21:25] #151 closed

[2017-11-07 22:15] kmiskiewicz commented on #152
Try just simple dotnet run without extra parameters or...just run by F5 from visual studio
If you still have some problems with migrations you can try to delete Migrations folder and add a new one like:
Add-Migration InitialCreate

After the latest updated I had a problem with login mechanism but when I deleted all migrations, and created a new DB (I use MS SQL) it solved my problem

[2017-11-08 06:46] pvagnini opened #153 "Modal Confirm"
Hi asadsahi,

I had a service I was using to provide a Modal confirm dialog an response in the previous version of this Spa. This no longer works and I can't seem to find anything available that does. I assume the changes in Angular 5.0 might be responsible?

Do you have any suggestions for a solution? As any application really needs to support this type of function to confirm deletes etc.

Thanks

[2017-11-08 15:00] asadsahi commented on #136
this should be fixed now.

[2017-11-08 15:00] #136 closed

[2017-11-08 15:05] asadsahi commented on #115
@Josh001 hosting.json doesn't reflect the URLs in production, you configure the website on azure as normal. Demo site is deployed as normal git push based deployment from azure portal. Try deploying on local IIS to see if it works. Master branch as alot of new changes which should simplify the deployment process. If you can give it another try and let me know if you find any more issues and I am h

[2017-11-08 15:05] #115 closed

[2017-11-10 17:31] asadsahi commented on #62
@kmiskiewicz @meninjanho4788 @layinka @quanterion Finallay, I have managed to get something working. I have also update the [wiki](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup) to describe how to set them up. Give it a try and let me know if you find any issue.

Enjoy :)

[2017-11-10 17:31] #62 closed

[2017-11-10 17:34] asadsahi commented on #131
@floriandubois since this is a single page application I have implemented token based authentication for social logins after user has confirmed from their social providers. Master branch has these changes in it. Please also see [this](https://github.com/asadsahi/AspNetCoreSpa/issues/62) issue and [this ](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup)wiki.

[2017-11-10 17:34] #131 closed

[2017-11-11 15:02] asadsahi commented on #73
I have just tried pointing to sql server following the instructions on readme and it works. Creating fresh migrations for respective database it work. If some still has this issue please share a repo with this issue and I can have a look in details.

Closing for now.

[2017-11-11 15:02] #73 closed

[2017-11-11 15:14] asadsahi commented on #152
@beriniwlew I use command line to generate migrations. Bear in mind that you need to create initial migration based on what sql server you are using. By default this project is pointing to sqllite local db file and the Initial migrations are included in the project.

In order to create a new migration I use:

`dotnet ef migrations add "MigrationNameHere"`

Any migration you create should automatic

[2017-11-11 15:15] #152 closed

[2017-11-11 15:18] asadsahi commented on #146
@badre429 Apologies, that because of my limited grasp over ngrx at the moment, I have to take it out of the project for now. Maybe in near future I will add it again, but for now I will let anyone who has good knowlege of ngrx to add himself.

[2017-11-11 15:19] asadsahi commented on #146
Just to add if someone can put some effort in implementing ngrx in the project, happy to receive that through a pull request.

[2017-11-11 15:19] #146 closed

[2017-11-11 15:34] asadsahi commented on #153
@pvagnini could you please share the screenshot of which modal you are referring to. this project has ng-bootstrap support and its modal is still available to use as per [documentation](https://ng-bootstrap.github.io/#/components/modal/examples).

If you can share code/error you are having I can have a look in details. Closing for now as I cannot think anything specific changed in this project whi

[2017-11-11 15:34] #153 closed

[2017-11-13 14:18] asadsahi commented on #118
@m2017atTR silet refresh is implemented using [angular-oauth2-oidc](https://github.com/manfredsteyer/angular-oauth2-oidc) now. give it another try.

[2017-11-13 14:18] #118 closed

[2017-11-14 00:59] AlejandroFlorin opened #155 "Unrecognized argument format: 'migratedb'"
Get the following error when following instructions at step:

`dotnet run migratedb seeddb`

Error:

[2017-11-14 09:07] sajidali2444 opened #156 "Routing issue"
First Thanks for great effort.

i am facing one issue.
i change register page and  login page html according my requirement.
but i try to navigate between home and register and login page then old component not removed its pushing old UI or component below each time.
could please give me direction how i can resolve it.
Thanks.

[2017-11-14 09:19] kmiskiewicz commented on #156
Check this issue: #152

[2017-11-14 09:27] asadsahi commented on #156
@sajidali2444 if you see in current codebase, specifically main.ts [line 32](https://github.com/asadsahi/AspNetCoreSpa/blob/master/ClientApp/main.ts#L32) should fix this. If you are using a previous version try adding that line.

[2017-11-14 09:27] #156 closed

[2017-11-14 16:36] h4m3d66 opened #157 "have different layout for different modules"
How can I have different layout for different modules?

[2017-11-14 22:45] asadsahi commented on #157
@h4m3d66 can you explain a little more about what layout are you taking about for different modules?

[2017-11-15 03:24] h4m3d66 commented on #157
I have separate module for each section of my web application, for example one module for user account, one module for shopping,... I want each module have its own layout. How I can do that?

[2017-11-15 09:13] asadsahi commented on #157
@h4m3d66 If you are looking to achieve different layouts such as different navigations etc I would suggest looking into https://docs.google.com/presentation/d/1o1zbqxe-Fn4IdGRYeVGFNQb1PSiOpjXvIsNHRC7Bk1w/edit. this explains one way to achieve this. Since each module has different navigations, you could achieve something similar by providing different components based on the route you are on.

[2017-11-15 14:14] crh225 commented on #157
from @asadsahi  link,
we did something similar to
![image](https://user-images.githubusercontent.com/19475195/32840252-be40e2ca-c9dc-11e7-9118-3b6ce05a3006.png)

Each route that gets loaded into the router outlet is a different module for us. We actually are taking each module and putting it into its own scoped (private) npm package for our different areas of our business. (Accouting, Logistics, .

[2017-11-15 15:17] h4m3d66 commented on #157
I want some module have completely different layout(master page) not just its main content, for example in some module I dont want left nav and I want right nav or I dont want have left nav or right nav at all.

[2017-11-15 16:29] asadsahi commented on #157
@h4m3d66 link I sent of slides have demo links at the bottom as well. Have you looked at it?

What you are trying to achieve sounds similar to what Alex from angular core team mentioned in his presentation, that you can build dynamic views for different routes.

[2017-11-15 16:32] asadsahi commented on #155
@AlejandroFlorin appologies for the error. There have been some changes to how project could be dealt with database., Readme instructions might be a little misleading. I will update them at my earliest.

For now have you tried skipping that command as seeding is done automatically.

[2017-11-15 16:34] asadsahi commented on #145
@layinka just to update on this one. I am working on part of PWA story to have some performance in this project and implement some initial performance and SEO concepts enhance in this project. So keep an eye on few changes soon.

[2017-11-15 17:10] layinka commented on #145
That's great news.
Thanks

Sent from my Windows Phone

-----Original Message-----
From: "Asad Sahi" <notifications@github.com>
Sent: ‎11/‎15/‎2017 5:42 PM
To: "asadsahi/AspNetCoreSpa" <AspNetCoreSpa@noreply.github.com>
Cc: "layinka" <xcelsis02@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [asadsahi/AspNetCoreSpa] PWA Support (#145)

@layinka just to update on this one. I am worki

[2017-11-15 17:30] AlejandroFlorin commented on #155
Thanks, Tried running it with just F5 and I get the following:

Error - object reference not set to an instance of an object
Function - SeedDbData
Line - AddOpenIdConnectOptions(serviceScope, CancellationToken.None).GetAwaiter().GetResult();

[2017-11-15 17:33] asadsahi commented on #155
Did you change the connection string or default sqllite setup?

Also, which codebase you are using, latest or a previous one?

[2017-11-15 18:33] AlejandroFlorin commented on #155
I just got the latest version, ran through the install steps and keep getting the same error.

[2017-11-16 10:18] asadsahi commented on #157
closing as this is outside scope of this project.

[2017-11-16 10:18] #157 closed

[2017-11-16 14:18] kmiskiewicz commented on #145
@asadsahi @layinka maybe you will find this video interesting (or maybe you you have seen it already), it's about future of PWA in Angular  https://www.youtube.com/watch?v=3ZZCCBjuAXU

[2017-11-16 14:28] asadsahi commented on #145
This guy is good, haven't seen this video, but he wrote few [articles ](https://medium.com/@webmaxru/a-new-angular-service-worker-creating-automatic-progressive-web-apps-part-1-theory-37d7d7647cc7) recently and gave a talk at angular connect that is upto date with few changes coming in angular-cli for pwa's. Looking forward to have[ cli baked in SPA services](https://github.com/aspnet/JavaScriptSe

[2017-11-16 17:12] netbidev opened #158 "Milestones and stable version"
Hello!

Could you use version management for your project? This project is very useful for our work and version management will be great feature for project.

[2017-11-17 10:05] asadsahi commented on #158
@netbidev cool idea. Have you got any plan in your mind how to manage this?

[2017-11-18 11:33] asadsahi commented on #155
@AlejandroFlorin I have simplified the readme instructions and removed unnecessary stuff. Hopefully they will help understanding DB usage. Let me know if you find any more issues.

[2017-11-20 08:18] Shelliniho opened #159 "Project with mdbootstrap.com"
Hello, I've been trying to integrate the mdbootstrap for angular into the project for a few days. Unfortunately unsuccessful. Is that possible somehow?

[2017-11-20 10:21] davayd opened #160 "HMR doesn't update component"
Hi guys, i cloned repository right now , completed all the 'Installation' points, after all run the project by F5 (VSCode), my browser running localhost:5000 page, everything is working [HMR] connected:
https://ibb.co/mXjRNm
BUT, when i editing home.component.ts file and save it
https://ibb.co/b9mj8R
HMR module does not fire and does not update anything.
what a strange behavior ??
terminal warninn

[2017-11-20 19:02] asadsahi commented on #160
@davayd these are just deprecated warnings from webpack, but shouldn't affect HMR. I have same warnings on my machine. Can you please provide more information of your OS/dotnet version/node version etc?

[2017-11-20 21:27] asadsahi commented on #159
@Shelliniho I haven't used mdbootstrap myself, but can't see any problem using it with this project as mdbootstrap requires only css and javascript. Can you explain or share a repo which demonstrates specific problem and i can help you figuring out the issue.

[2017-11-21 08:32] davayd commented on #160
@asadsahi of course:
https://ibb.co/dJ9656

[2017-11-21 09:16] asadsahi commented on #160
It looks like Linux OS?

It could be OS specific. Have you got access to any other OS to try if it work? I am only using windows.

[2017-11-21 11:31] davayd commented on #160
yes, it's Linux Mint. I have Windows 7 on other diskpart, I'll try to run project from it and to response about behavior

[2017-11-21 22:27] Shelliniho commented on #159
The Angular version runs with SCSS. Here is the tutorial https://mdbootstrap.com/angular/5min-quickstart/
If I install all this and then create the project, I get the message, at-loader error with @ sign in the SCSS and TS files.

[2017-11-22 20:01] davayd commented on #160
An interesting case, and the truth is, my Linux does not fired the HMR module. I close the problem.
p.s. What can be thought about this behavior on Linux?

[2017-11-22 20:01] #160 closed

[2017-11-23 10:28] kmiskiewicz commented on #159
I have a proposition, if it doesn't make sense I'm sorry but one of the biggest advantages of newer versions of angular is SSR which can be impossible to achieve with mdbootrap https://mdbootstrap.com/support/mdbootstrap-angular-universal-server-side-rendering-errors/   Maybe instead of fighting with problems which we cannot solve on our end we should just switch to  https://github.com/angular/mat

[2017-11-26 12:41] sajidali2444 opened #161 "Notification service"
Hi,

Notification service not working.
server-side error message coming but the error message in angular is not showing in the popup.
your demo project showing user already exist but in my case, it's not showing server errors.
please help.

[2017-11-27 23:03] AlejandroFlorin opened #162 "Error restoring aspnetcore-authentication nuget package"
Get the following error:

Install-Package : Unable to load the service index for source https://www.myget.org/F/aspnetcore-authentication/api/v3/index.json.
  Response status code does not indicate success: 404 (Feed does not exist.).
At line:1 char:1
+ Install-Package Microsoft.AspNetCore.Authentication -Version 2.0.1

This looks like its a dependency to that package from another specific to AspN

[2017-11-28 04:15] Arpanx opened #163 "Content Security Policy directive: "img-src 'self' data:"."
I can not upload pictures from another site.
I'm trying to redefine rules
`<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:*">`
But the rules are still given as in the header.
Where do they come from, and how to allow downloading from other people's sites?

In the browser I get this error:
_Refused to load the image 'http://c.tile.openstreetmap.fr/hot/12/2397/1379.png' beca

[2017-11-28 13:03] Arpanx commented on #162
<PackageReference Include="OpenIddict" Version="2.0.0-rc2-0775" />
    <PackageReference Include="OpenIddict.EntityFrameworkCore" Version="2.0.0-rc2-0775" />
    <PackageReference Include="OpenIddict.Mvc" Version="2.0.0-rc2-0775" />

[2017-11-28 15:20] asadsahi commented on #162
@AlejandroFlorin https://github.com/asadsahi/AspNetCoreSpa/commit/a559f21356df999e955b3e8592ad03e4e1e44fe4 should fix the issue. One of the nuget feed was removed. At some point these packages will be updates to final version, but until then one of the myget feed in nuget will still allow pre-release version to be downloaded. let me know if you find anymore issues.

[2017-11-28 15:25] asadsahi commented on #163
@Arpanx CSP rules are defined [here](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Extensions/ApplicationBuilderExtensions.cs#L67) you can amend them as per your need. For more information see [this](https://joonasw.net/view/csp-in-aspnet-core)

[2017-11-28 17:11] AlejandroFlorin commented on #162
Thanks, that fixed it.

[2017-11-28 17:11] #162 closed

[2017-11-29 02:14] AlejandroFlorin commented on #155
Did a fresh install again as per the instructions and it all worked. Thanks.

[2017-11-29 02:14] #155 closed

[2017-11-29 04:59] nimishsakalkale commented on #104
I am facing this issue.
I am using VS 2107. And I have set allowJS to true. removing allowJS property fixes the issue. but I need this property to be set to true as I need to use some js files (which are not yet converted to typescript).

[2017-11-29 10:10] asadsahi commented on #104
@nimishsakalkale I am sure you can use javascript file in any project. You somehow need to exclude it from typescript compilation if that isn't the requirement.

try some of the suggestions describe [here](https://github.com/s-panferov/awesome-typescript-loader/issues/502#issuecomment-339857188) and [here](https://github.com/kriasoft/react-starter-kit/issues/1429).

[2017-11-29 10:14] asadsahi commented on #161
@sajidali2444 can you provide a little more detail. What server errors you are getting? and what are you expecting in notifications service to appear?

[2017-11-29 14:45] nimishsakalkale commented on #104
@asadsahi  Adding  `wwwroot `and `ClientApp/dist` to the tsconfig.json exclude list fixed the problem. Thank you.

[2017-11-29 16:51] sajidali2444 commented on #161
Sure,
my server returns bad request 400. in this case I want to show error message in the notification as your demo site shows user already exist.
please see attached image
in my case its not working either password wrong or user already exist.

![screenshot-aspnetcorespa azurewebsites net-2017-11-29-21-49-00-492](https://user-images.githubusercontent.com/960620/33387512-4943dbac-d54f-11e7-9e60-ae

[2017-11-29 16:59] sajidali2444 opened #164 "Entity Framework Repository"
one more thing @asadsahi  please help
you have entity base repository like
public class EntityBaseRepository<T> : IEntityBaseRepository<T> where T : class, IEntityBase, new()
i am trying to as PhotoRepository : EntityBaseRepository<IPhotoRepository>
its throws erros can use IPhotoRepository as type parameter.
or please can you give at least one example how to use this class for DB interaction
as i

[2017-11-30 03:39] Arpanx commented on #163
Thank you. Everything is working!
Wonderful assembly, and a big piece of work you have done. Anyone who makes money on it, it's good to share it with the author. I'm just starting one small startup.
I ran this entirely on Linux Ubuntu + PostrgeSQL EF
+ I had to change the version in this line, otherwise on Linux there was no restore of packages
`    <PackageReference Include="Microsoft.EntityFrame

[2017-11-30 11:50] asadsahi commented on #164
@sajidali2444 check [this](https://github.com/chsakell/dotnetcore-entityframework-api/tree/master/Scheduler.Data/Repositories) out as an example.

[2017-11-30 11:52] asadsahi commented on #163
Thanks for kind words @Arpanx. Glad it work for you. :+1:

[2017-11-30 11:54] asadsahi commented on #161
@sajidali2444 currenty it is preventing based on client side errors. User already exist is a server side error, so in order to see that error I would assume you need to pass all the client side errors first. Isn't that the case?

[2017-11-30 16:12] sajidali2444 opened #165 "Nuget package error"
c:\program files\dotnet\sdk\2.1.1\Nuget.targets(103,5): error unable to load the service indx for https://www.myget.org/F/aspnetcore-authentication/api/v3/index.json

[2017-12-01 09:05] kostia24 commented on #159
mdbootstrap npm package contains only ts and scss files. So to use it you first need to compile. The fastest way for me was to include mdbootstrap ts in main bundle.

[2017-12-01 10:02] asadsahi commented on #165
Have you tried after getting the latest? There is a change [here ](https://github.com/asadsahi/AspNetCoreSpa/commit/a559f21356df999e955b3e8592ad03e4e1e44fe4)which should've fix this.

[2017-12-02 15:55] sajidali2444 opened #166 "api call"
@asadsahi  can you help me please quick
i am calling my PostAdController method GetCities using dataService get Method
call success but always retrun home html and GetCities method not being called neither break point hit.

your predefined controller method called like Register , Login

what i am doing wrong
here code.
C#
[Route("api/[controller]")]
    [AllowAnonymous]
    public class PostAdCont

[2017-12-02 20:36] asadsahi commented on #166
@sajidali2444  try this:

    [HttpGet("")]
    public IActionResult GetCities()
    {
        var cities = _city.GetAll().ToList();
        return Ok(cities);
    }

[2017-12-03 14:35] no1ross opened #167 "Glimpse Node"
Not an issue, but a request.  It would be really nice to see Glimpse Node installed and working with timelines etc. in this template.  BTW thank you very much for this template.

[2017-12-03 20:19] asadsahi commented on #167
@no1ross thanks for appreciation.

Glimpse Node is for node based projects as I understand. There used to be an asp.net Glimpse extension, but can't see any .net core compatible yet. If you find any useful profiler tools for dev times please share and I will consider adding it.

[2017-12-03 20:19] #167 closed

[2017-12-03 20:20] #164 closed

[2017-12-03 20:20] #163 closed

[2017-12-05 06:25] mayorquin opened #168 "Call to external API"
Hello,

I'm trying to call an external API but I'm getting the error:

Response for preflight has invalid HTTP status code 404

Request Method:OPTIONS
Status Code:404 Not Found

This happens with all externals API's. I tested using the Angular template form VS2017 and it works.

Do you have any idea what could be happening with your template? Or I missing something?

[2017-12-05 15:14] asadsahi commented on #168
@mayorquin , send me screenshot of the error you get. I suspect this could around the security middlewares added in the project.

[2017-12-06 15:44] marcossapp opened #169 "Can't load project properly"
I followed all the steps and when i start in Visual studio the console.log shows _Error: In this configuration Angular requires Zone.js_

Is this project still valid?

[2017-12-07 12:58] layinka opened #171 "Bootstrap 4 js support"
Hi,
Pls how do i add the full bootstrap 4 js to the app?

It seems that jquery and popper are not loading now, and i have tried different ways of adding them to the webpack.vendor file, but its still not working.

And things like dropdown etc are not working without the js

[2017-12-08 00:05] thanhnx94 opened #172 "dotnet ef database update fail System.Data.SqlClient.SqlException (0x80131904): Column 'Id' in table 'OpenIddictApplications' is of a type that is invalid for use as a key column in an index"
fail: Microsoft.EntityFrameworkCore.Database.Command[20102]
      Failed executing DbCommand (189ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
      CREATE TABLE [OpenIddictApplications] (
          [Id] TEXT NOT NULL,
          [ClientId] TEXT NOT NULL,
          [ClientSecret] TEXT NULL,
          [ConcurrencyToken] TEXT NULL,
          [DisplayName] TEXT NULL,
          [PostLogo

[2017-12-08 11:48] asadsahi commented on #172
@thanhnx94 have you tried deleting existing Migrations folder and create new migrations for sql server first?

[2017-12-08 12:20] #165 closed

[2017-12-08 12:21] asadsahi commented on #166
closing for now. escalate if further action needed.

[2017-12-08 12:21] #166 closed

[2017-12-08 12:22] asadsahi commented on #161
closing for now. If further action needed please provide elaborated information as requested.

[2017-12-08 12:22] #161 closed

[2017-12-08 22:02] mayorquin commented on #168
Thanks for your response... It was an error related with http headers.

[2017-12-08 22:02] #168 closed

[2017-12-08 22:08] mayorquin opened #174 "Slow loading"
First of all, I want to thank you, for your excellent work in this template.
Everything works perfect but I'm having some problems with the slow loading.

When I ran the project in VS2017, the chrome browser launches quickly but it took about 3-4 minutes load the app... I'm only running the App without any change...

There is something that I can disable in VS or in the template, to load faster?

[2017-12-09 02:05] pvagnini commented on #174
Also thank you for an excellent project template. I can also concur that after moving to the V2.0 template and running with VS2017 I am experiencing very long project load times, which are much longer than previous. This is where the web page sits with the Loading page showing. Once it starts everything works great.

In my case the project is connected to an SQL server database.

Thanks.

[2017-12-09 02:24] pvagnini commented on #174
P.S. I have found that sometimes when the project has been sitting at loading. If you stop and do a reload on the browser it starts straight away.

[2017-12-09 13:09] asadsahi commented on #174
@mayorquin @pvagnini Thanks for your feedback. Unfortunately the architecture of current master branch is based on previous asp.net core spa template, where client builds (webpack etc) are  part of .net build, so developers have to pay penalty in terms of wait time to complete both builds. So, we have to rely on how .net and webpack brings the optimisation as time progresses.

However, there is a

[2017-12-09 13:09] #174 closed

[2017-12-09 13:13] asadsahi commented on #171
@layinka I personally don't have experience working both jquery and ng-bootstrap working together as they are mutually exclusive I guess.

ng-bootstrap is alternative to jquery based implementation of bootstrap components so I would suggest if you can use ng-boostrap instead of relying on jquery (I think popover component is also included in ng-boostrap components).

In terms of making it working,

[2017-12-09 13:27] asadsahi commented on #159
Closing this for as it isn't directly related to this project. If someone has a specific problem integrating 3rd party libraries, then please share a repo with very particular issue and I can try and have a look.

Hope thats OK.

[2017-12-09 13:27] #159 closed

[2017-12-09 13:59] asadsahi commented on #169
@marcossapp I am unable to reproduce this. I have just ran fresh code for master and the project ran fine. I guess you are seeing this issue without any modifications? Please provide more details of error like screenshot and your environment info to proceed.

[2017-12-09 21:42] R0xtar commented on #145
Maybe [this](https://madskristensen.net/blog/progressive-web-apps-made-easy-with-aspnet-core/) could help.

[2017-12-09 21:44] asadsahi commented on #145
@R0xtar there is already WIP [here](https://github.com/asadsahi/AspNetCoreSpa/tree/angularcli). We'll leverage angular's cli's support for SW.

[2017-12-11 00:28] Cuiqs76 opened #175 "how to setup the project from scratch"
would you provide the steps to setup the project from scratch?

[2017-12-11 07:23] layinka commented on #171
Ok thanks,
I will keep using ng-bootstrap then

[2017-12-11 07:23] #171 closed

[2017-12-11 10:12] asadsahi commented on #175
@Cuiqs76 this is quite abstract question. Can you please elaborate a little what do you mean by setting up project from scratch? Do you mean how to setup a project from blank slate?

[2017-12-11 11:55] Cuiqs76 commented on #175
Yes , from blank slate.

If use vs 2017  netcore 2.0 angular template ,  it's different to your project.
I know I can copy some file of this project to my project such as .angular-cli.json 、webpack.config.vendor.js etc.  but I don't think this is no good way to setup project

[2017-12-11 12:30] asadsahi commented on #175
@Cuiqs76 VS angular template isn't blank template either, it has some libraries/components pre-added. This SPA template is an extended version of that which has even more stuff into it. If you want to start with a blank slate, start from Visual studio empty template and then add anything which suits your requirement.

You can always take things out from any existing template (this template or VS a

[2017-12-11 12:30] #175 closed

[2017-12-12 07:15] sajidali2444 opened #176 "Data Service"
@asadsahi
i need two things.
1. can you please guide me what wrong with this code.
    this.dataService.get('api/photo/delete', photoId);
 this.dataService.get<string>('api/photo/delete', photoId);
post request working perfectly
get request not working. i also try to pass object instead of photoId but not working.

2. simple notification
am trying to use your simple notification but its to easy ca

[2017-12-12 09:53] asadsahi commented on #176
@sajidali2444

Response to your points:

1. You should use photo id in delete url rather 2nd parameter in delete method, see examples [here](http://www.restapitutorial.com/lessons/httpmethods.html).

2. You can disable global error handler at [this](https://github.com/asadsahi/AspNetCoreSpa/blob/master/ClientApp/app/core/core.module.ts#L61) line. and manually call notifications service methods (su

[2017-12-12 09:53] #176 closed

[2017-12-13 16:51] meninjanho4788 opened #177 "can you create same project use react redux?"
Dear Asad Sahi.
Can you create same project use react redux? or you guide me what link github project react + netcore2

Many thank.

[2017-12-13 22:23] AlejandroFlorin opened #178 "Simplification of two webpack files"
I may be wrong since I'm fairly new to webpack but as I understand it, the sharedConfig definitions in webpack.config.js and webpack.config.vendor.js  are useful for the visual studio angular template since it is  designed for server side rendering. Since AspNetCoreSpa doesn't support server side rendering (and therefore has no serverBundleConfig defined in either file ), does it make sense to hav

[2017-12-14 12:52] kmiskiewicz commented on #177
@meninjanho4788  I'd like to share with you what I found about NGRX. It's difficult to find a good demo project which contains it...what I found people are divided between those who keep all actions/reducers in a one place and those who tries to decouple it. Here is really interesting project...which is a bit against what authors of NGRX published in their demo app https://github.com/orizens/ngrx-

[2017-12-15 06:30] meninjanho4788 opened #179 "where can i get client_id ?"
Dear @asadsahi
Please guide me where can i get client id in file auth.config.ts
I try : "aspnetcorespa", "498770901095-mrabuie6uo3he6p5s7sf0hjvq3a3j6po.apps.googleusercontent.com"
My google api, it have a error : The specified 'client_id' parameter is invalid

[2017-12-15 12:07] asadsahi commented on #179
@meninjanho4788 client_id in auth.config.ts is for openidconnect application identifier, which should match with with ClientId property of OpenIddictApplicationDescription config. check SeedDbData.cs around line 111. This is nothing to do with google client_id or client_secret keys.

Having said that. google secrets you have need to be configured in appsettings.json file.

[2017-12-15 12:10] asadsahi commented on #178
@AlejandroFlorin thanks for pointing it out.

SSR is work in progress in angularcli/ssr branches which will become master once things are stabilised. After that there will not be any webpack configs since that is based on angular-cli.

Current master branch (which you are referring for these files will become a separate branch). Happy if someone can clean up some config and raise a PR. Sorry just

[2017-12-15 12:10] #178 closed

[2017-12-15 12:15] asadsahi commented on #177
@meninjanho4788 creating project using totally different client framework requires alot of learning curve and effort, especially with all the features which are included in this project. I hope you'll be able to find plenty of examples online where people have created react apps with different backends. If you like any existing backend functionality, you can easily used from this project and use i

[2017-12-15 12:15] #177 closed

[2017-12-15 12:17] asadsahi commented on #169
Closing it for now, if you got any more issues, please raise it with a sample repo. Thanks

[2017-12-15 12:17] #169 closed

[2017-12-16 01:55] pvagnini opened #180 "Problem with Login"
Hi,

I have been developing an application based on the current AspNetCoreSpa and all has been going well.

Yesterday how ever I experienced a problem with the Login process. This may have coincided with an update of Node JS on my machine to v8.9.3.

When a login is called I can the in the Authorization controller that the user is found and a valid ticket is created.  **return SignIn(ticket.Princi

[2017-12-16 02:35] meninjanho4788 commented on #179
Dear @asadsahi
Thank you so much

[2017-12-16 22:28] asadsahi commented on #179
@meninjanho4788 you are welcome. Closing for now.

[2017-12-16 22:28] #179 closed

[2017-12-17 23:22] pvagnini commented on #180
I have found the issue.
There has been a change to OpenIdDict which now requires different column names in the table OpenIddictTokens. The new columns are Payload & ReferenceId. These are renames of Cyphertext and Hash respectively.

You need to create a new migration. What I have found however is that a new migration is crated with code to rename these columns, but when the project is run they ar

[2017-12-17 23:22] #180 closed

[2017-12-18 13:38] asadsahi commented on #172
@thanhnx94 closing it for now, but let me know if problem persists.

[2017-12-18 13:38] #172 closed

[2017-12-19 13:59] Trojaner25 opened #182 "Google Log In not working"
I can not log in with Google when I deploy the application (doesnt matter if Debug or Release deploy).
The Google log-in works on local build but it does not work after deploying to production machine.
The localhost and the domain are both whitelisted in the Google Developer Console (http and https).

Log:
[code]

Uncommenting the [signin-google route](https://github.com/asadsahi/AspNetCoreSpa/blo

[2017-12-19 15:32] asadsahi commented on #182
@Trojaner25 does google allow you to have multiple domains and callback urls against same application. For production I have seperate google app created with its own domain and callback and it works fine.

[2017-12-19 15:33] Trojaner25 commented on #182
Thanks for the fast response.
I will try and report back

[2017-12-19 15:55] Trojaner25 commented on #182
I have set up a new google app (removed the domain from the other app) but I still get the same error message

[2017-12-19 16:02] eddyekofo94 opened #183 "After registering the user, I can't login, here's there error."
<img width="900" alt="screen shot 2017-12-19 at 16 01 30" src="https://user-images.githubusercontent.com/12385031/34166093-f194224a-e4d5-11e7-8097-b96095152404.png">

[2017-12-19 16:10] asadsahi commented on #182
ahhh, it must be [this line](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/SeedDbData.cs#L108) then. Better if this is a configuration coming from appsettings.json as well. I will update that. But meanwhile try by changing this. Note, if you have already seeded the database, you need to update your datastore accordingly.

[2017-12-19 20:17] sajidali2444 opened #184 "Notifications"
@asadsahi
hi
again one problem please help
this is not working
import { Injectable } from '@angular/core';
import { UtilityService } from './utility.service';
import { NotificationsService } from '../../core';

@Injectable()
export class PostService {
    constructor(
        public us: UtilityService,
        private ns: NotificationsService) { }
public setPackageDetail(packageId: number) {

[2017-12-19 21:02] pvagnini commented on #182
Hi Asadsahi, I think this may be related to my issue #180 where I posted the problem and the fix.

Regards

[2017-12-19 21:06] pvagnini commented on #183
Have a look at my issue #180 where I describe the fix to this issue.

Regards

[2017-12-19 22:13] asadsahi commented on #183
@eddyekofo94  [this ](https://github.com/asadsahi/AspNetCoreSpa/commit/505e47a6a3145802d15c46ab70a6a84fee3afc1c) should fix it.

@pvagnini  you are right there was a breaking change in recent version of openidconnect package. I have to add new migration in master to fix it.

Closing for now, but if you find any more issues let me know.

Thanks

[2017-12-19 22:13] #183 closed

[2017-12-19 22:14] asadsahi commented on #182
@Trojaner25 @pvagnini  This setting is in appsettings.json and appsettings.Development.json based on which environment you are configuring. also, [this](https://github.com/asadsahi/AspNetCoreSpa/commit/505e47a6a3145802d15c46ab70a6a84fee3afc1c) should fix  couple of other issue. Let me know if you find any other issues.

[2017-12-19 22:14] #182 closed

[2017-12-19 22:19] asadsahi commented on #184
@sajidali2444 I don't know your project in details. Follow [this example](https://github.com/asadsahi/AspNetCoreSpa/blob/master/ClientApp/app/account/+profile/user-info/user-info.component.ts#L52) to follow along?

[2017-12-20 05:15] sajidali2444 commented on #184
@asadsahi
Thank you for quick response @asadsahi
Exactly I am following your provided project template.

I already see this link you mentioned but this is from component but my requirement is from service class to show a message.

I want to show message from my service which not working.
your demo project working.

should I use this.ns.alert() in subscribe method?

this is my service file where I

[2017-12-21 12:28] asadsahi commented on #184
@sajidali2444 have you tried debugging? can you step into the notifications service call to see if it is going inside that function?

[2017-12-26 06:56] sajidali2444 commented on #184
@asadsahi
Thank Asad.
Eventually, i solved my notification issue its due to my HTML Header which was overlapping on the notification now I change notification position to bottom working perfectly.
thanks for your support and appreciate your timely help.

[2017-12-27 19:20] #184 closed

[2017-12-27 19:20] asadsahi commented on #184
Glad you fixed it @sajidali2444

[2017-12-28 01:38] sergot opened #187 "API tests"
Hi!

This repo is great! Thank you for your work! :)

The only thing I think is missing is: unit tests for the API.

Any plans for this?

[2017-12-29 10:43] sajidali2444 opened #188 "Service Stack Text"
@asadsahi
Can you please add ServiceStackText serializer to this project? for a high-performance reason.

[2018-01-02 09:26] asadsahi commented on #188
@sajidali2444 which functionality of application can get benefit of ServiceStackText serializer?

[2018-01-02 09:31] asadsahi commented on #187
@sergot thanks for suggestion. I would love to add unit tests. It just requires project to shuffle a little. Make this multi project solution to keep api unit tests separate from web project. would do at some point.

[2018-01-04 13:59] elcondedebahia opened #189 "Issue when setting locally Social login"
After setting facebook Id's I get this issue every time:

error:invalid_request
error_description:The specified 'redirect_uri' parameter is not valid for this client application.

this is the request URL:
http://localhost:5000/connect/authorize?response_type=id_token%20token&client_id=aspnetcorespa&state=ipfAqg1LUk1BEkmDXIlNotDJQXxL34PSVpLj9aON&redirect_uri=http%3A%2F%2Flocalhost%3A5000&scope=open

[2018-01-04 16:05] elcondedebahia commented on #189
Solved by removing trailing slash from the redirect URI in the DB:
from
http://127.0.0.1:5000/
to
http://127.0.0.1:5000

Hope someone else find this useful.

[2018-01-04 16:05] #189 closed

[2018-01-05 09:57] nyghtrocker opened #190 "Refresh token and role and permission in angular 4"
Hi,
Thanks for the great solution and it helps me a lot. How to do refresh token and check role, permissions in angular 5? any idea?

[2018-01-05 10:57] pvagnini opened #191 "Identity Token Expiry"
Hi,

I have come across the issue where the Access Token must have expired as any action on the controller returns Unauthorized. The problem is that even if you click on LogOut it still returns Unauthorized and does nothing, and so there is no way to continue. Even closing and reopening the application returns you to a state where the web page shows as logged in, but any action still returns Unaut

[2018-01-08 09:30] asadsahi commented on #191
@pvagnini thanks for raising this issue.

I believe your first issue should be resolved by https://github.com/asadsahi/AspNetCoreSpa/commit/ec6f425fc2a044ab8b79d4ddef2a849d766ea519
.. the problem was if token was expired then if you call logout it was calling server side logout action, for which you have to be logged in. This isn't required as the server side logout is mostly required for cookies

[2018-01-08 09:59] asadsahi commented on #190
there are two piece to this. Server side refresh token functionality is enabled. Check [this](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Extensions/ServiceCollectionExtensions.cs#L101) . For client side you need to write some code which refreshes token.

In fact there is another branch of this project (look ssr branch) where oidc + refresh token functionality is implemented using

[2018-01-08 09:59] #190 closed

[2018-01-08 10:00] asadsahi commented on #188
closing this for now as this is outside the scope of this project.

[2018-01-08 10:00] #188 closed

[2018-01-09 02:01] pvagnini opened #192 "Edge Login Issue"
Hi Asadsahi,

Deployment works fine with Chrome, but when using Edge when clicking Login it gives the error;

Error Getting Token
Reference Error:
'URLSearchParams' is not defined.

I hope you can help.

Thanks
Paolo

[2018-01-09 02:08] pvagnini opened #193 "Content Security Policy"
In the previous version using ASP Core 1.1 I was able to directly open a pdf file stored under the wwwroot directory, by doing a window.open("/xxxxx.pdf").

With this current version it still works with Edge but in Chrome it just displays a blank page. Looking at the Chrome developer tools I see the following error.

**Refused to load plugin data from 'https://something.com.au/userguides/Guide.pdf

[2018-01-14 20:30] mrandreev commented on #189
Hi @elcondedebahia

Did you remove just trailing slash and keep everything like it was? Because I have exactly the same problem and your solution doesn't fix it. Maybe there is something else?

Thanks :)

[2018-01-15 11:41] elcondedebahia commented on #189
Did you make that change in the DB? Also did you change the application ID in the code and also in the DB? Let me know.

[2018-01-19 02:36] pvagnini commented on #193
I have found the solution to this issue.

The ApplicationBuilderExtensions implements Content Security Policy.

As per below need to change the AllowPlugins from "FromNowhere()" to "FromSelf()"

            // Content Security Policy
            app.UseCsp(csp =>
            {
                // If nothing is mentioned for a resource class, allow from this domain
                csp.ByDefaultAllow

[2018-01-19 02:36] #193 closed

[2018-01-19 10:37] nyghtrocker opened #194 "How to let users register with their Facebook accounts?"
Do you have any method in AspNetCoreSpa app that let user register or create a local account using social logins?

[2018-01-19 17:12] isaac2004 commented on #55
@asadsahi I am intrigued by this project as I contribute to a similar project [here](https://github.com/MarkPieszak/aspnetcore-angular2-universal). I see that you have gotten some basic SSR and SEO concepts to work. Have you had any issues with bundling size or performance issues when doing SSR in production configs?

[2018-01-19 17:14] asadsahi commented on #194
@nyghtrocker have you looked at [this](https://github.com/asadsahi/AspNetCoreSpa/wiki/Social-Login-Setup) wiki?

[2018-01-19 22:34] asadsahi commented on #55
hi @isaac2004, as of now, SSR work in few basic scenarios and it work in SSR branch of this project as well.

But, based on my personal experience it isn't as streamlined as it should be. e.g I come across this issues https://github.com/angular/universal/issues/877, for which I have to use --aot flag for SSR build to make it work but the issue is still unanswered. Long discussion for same issue is

[2018-01-20 02:14] isaac2004 commented on #55
I would love for npm to move to a package store like Dot Net Core has. I know it isn't as easy as that, but the need to have node_modules on the server or to bundle and deploy.

[2018-01-20 02:14] isaac2004 commented on #55
I would love for npm to move to a package store like Dot Net Core has. I know it isn't as easy as that, but the need to have node_modules on the server or to bundle and deploy.

[2018-01-25 11:34] asadsahi commented on #194
closing for now. Please let me know if you find any issues after following the wiki.

[2018-01-25 11:34] #194 closed

[2018-01-25 11:35] asadsahi commented on #191
closing for now because of inactivity.

[2018-01-25 11:35] #191 closed

[2018-01-25 11:53] asadsahi commented on #192
@pvagnini can you try in current branch as I have removed this logic to simplify data service.

[2018-01-26 11:35] pvagnini commented on #192
Hi Asadsahi,

The current Master branch does not appear to work. I note that files like package.json appear to be missing?

Regards
Paolo

[2018-01-26 11:45] asadsahi commented on #192
@pvagnini  thanks for pointing this out. Sorry for confusion. Yesterday I have merged changes that include complete angular cli branch. I have update the [installation instructions ](https://github.com/asadsahi/AspNetCoreSpa#installation)and a [note ](https://github.com/asadsahi/AspNetCoreSpa#note-this-is-the-new-angular-cli-based-branch-where-clientapp-is-completely-managed-by-angular-cli-if-you-

[2018-01-27 04:32] pvagnini commented on #192
Thanks Asadsahi,

The login the Edge now works.

Much quicker startup in Visual Studio now.

Great work thanks.

[2018-01-27 17:32] #192 closed

[2018-01-27 17:32] asadsahi commented on #145
PWA support added in master now.

[2018-01-27 17:32] #145 closed

[2018-01-28 10:15] pvagnini opened #195 "SSR Timeline"
Hi Asadsahi,

I note in the project features list that you now list SSR as coming soon.

Are you able to give any approximate timing for this at this point please? I am deciding if I should wait before upgrading some existing apps or just use the current new cli version.

Regards
Paolo

[2018-01-28 12:57] kmiskiewicz opened #196 "duplicated account.service.ts"
Hi Asad, the project gets better and better. Really amazing job!
I pulled the latest changes and I noticed that account.service.ts exist in two places:
1. AspNetCoreSpa/ClientApp/app/core/services/account.service.ts
2. AspNetCoreSpa/ClientApp/src/app/core/services/account.service.ts

Is it correct?

Best regards,
Krzysztof

[2018-01-29 09:19] asadsahi commented on #196
@kmiskiewicz thanks for letting me know.

I believe the first one isn't needed. I have removed and checked in.

[2018-01-29 09:23] asadsahi commented on #195
@pvagnini this project is based on same new cli version, but there are few issues with it. See [this](https://github.com/asadsahi/AspNetCoreSpa/issues/55#issuecomment-359108577) discussion. You can give it a shot with cli and share your experience.

[2018-01-29 09:23] #195 closed

[2018-01-29 09:24] #196 closed

[2018-01-29 16:49] SpaceMonkeyForever commented on #104
@nimishsakalkale that was it for me. I don't know why we have to deal with these random bugs.

[2018-01-30 09:47] pvagnini opened #197 "Routes not including the Base Url"
Hi @asadsahi,

In the non Cli version the I was able to use a service something like;
private GetAssetByIdApi = 'api/Asset/GetAssetById/';
public GetAssetById(id: number) {
        return this.dataService.post(this.GetAssetByIdApi, +id);
    }

This no longer works in the Cli version. However is I append the BaseUrl to the start of  'api/Asset/GetAssetById/' it does work.

Can you please explain w

[2018-01-30 10:12] asadsahi commented on #197
@pvagnini register.component.ts is using dataservice by passing similar endpoint and it works as expected without passing base_url. can you double check your endpoints are configured as register or if you can spot any difference?

[2018-01-30 10:55] pvagnini commented on #197
I have just re-downloaded the current Master and installed. The register function does not work.
Same with things like the user-info also does not work. I can login O.K. with one of the pre-installed users such as admin@admin.com
I do note that all this works in your example at your link http://aspnetcorespa.azurewebsites.net/
although I should point out that it only works if you change to https,

[2018-01-30 11:02] layinka commented on #145
This is really great news.
Thanks for all the great work

[2018-01-30 11:05] pvagnini commented on #145
again i can confirm that if I change register.component,ts to this it works;

 public register(model: IRegisterModel): void {
        this.dataService.post('http://localhost:5000/api/account/register', model)
            .subscribe(() => {
                this.router.navigate(['../registerconfirmation'], { relativeTo: this.route, queryParams: { emailConfirmed: true } });
            });
    }

[2018-01-31 01:30] crh225 commented on #55
@isaac2004 why do you need node_modules on the server? just curious

[2018-01-31 08:23] asadsahi commented on #55
For SSR to work 😊

[2018-01-31 08:53] layinka opened #198 "Routing doesnt work on refresh"
Hi,
I am currently using the current master branch and running it on my dev server.
The routing works properly if i navigate first to the home page and then follow the links.

But if i try to access any page from the address bar directly, it seems the app takes that page as the base url,and takes it to be the home page i.e If i navigate to http://localhost:5000/login directly, it renders the home

[2018-01-31 15:03] kmiskiewicz commented on #198
I had the same issue but I modified the project a bit so I wasn't sure if it was a problem with mine code after merge or with the project itself. As a workaround I added In  ClientApp/src/main.ts, but I don't understand why it has a problem to read it from index.html (  <base href="/" />)

 const providers = [
     { provide: APP_BASE_HREF, useValue: '/' }, // you have to add this line, but again,

[2018-01-31 15:35] crh225 commented on #55
good to know!

[2018-02-01 09:20] asadsahi commented on #198
@layinka  @kmiskiewicz there was an issue with angular-cli which is fixed in [this](https://github.com/angular/angular-cli/commit/b17a629) commit, I will be pushing in a fix in this project in a bit.

[2018-02-01 09:29] asadsahi commented on #198
[this](https://github.com/asadsahi/AspNetCoreSpa/commit/4f6e655f22b36268943c46a84514941965ecd9d5) should fix it.

[2018-02-01 09:30] asadsahi commented on #197
@pvagnini I suspect this could be related to [this](https://github.com/asadsahi/AspNetCoreSpa/issues/198)

Do you wanna try again. remove your node_modules first.

Thanks

[2018-02-01 22:37] pvagnini commented on #197
Hi @asadsahi,

I have downloaded and started fresh from the current project. The Resgister now works, but a minor thing is that the IsEnabled for the user is set to false.

However the login now does not work. It does not hit the AuthorizationController and returns the following message;

Error: Uncaught (in promise): HttpErrorResponse: {"headers":{"normalizedNames":{},"lazyUpdate":null},"status":

[2018-02-02 06:17] pvagnini commented on #197
Hi @asadsahi,

After doing some more digging the issue appears to relate to changes to OpenIdDict in version 2.0.0-rc2-0802 where there has been changes to the database structure.

I have deleted the database and migrations and then created a new Initial Migration, but the endpoint is being refused with the details below. This same issue also effect to Non-Cli branch when created from scratch.

fa

[2018-02-02 09:04] asadsahi commented on #197
@pvagnini there was a breaking change in openidconnect package which was updated and fixd in the migrations of this project.  So the work you have done to update migrations is correct.

I believe with correct login details you must be able to login, but if you enter incorrect login details you get this response:

[code]

...which currently isn't being handled on the client properly (which I will h

[2018-02-02 09:45] pvagnini commented on #197
Hi @asadsahi,

I am definitely using a correct login. As I posted before the AuthorizeController is never being hit, so the password is never checked.

What I have found is that if I run from the dotnet command line rather than through Visual Studio I get some extra error information. In this case is definitely shows that the endpoint is being rejected because 'aspnetcorespa' was not allowed to us

[2018-02-02 10:59] pvagnini commented on #197
I have confirmed that if I downgrade the openiddict packages to 2.0.0-rc-0797 then the login works fine.
Also I am able to navigate to my Controllers with the correct navigation URL like  'api/Asset/GetAssetById/'.

[2018-02-02 11:54] pvagnini opened #199 "FontAwsome fonts not working"
Hi @asadsahi,

The FontAwsone fonts will not load.

Chrome debug reports;
GET http://localhost:5000/fonts/fontawesome-webfont.ttf?v=4.7.0 404 (Not Found)

[2018-02-02 12:00] asadsahi commented on #199
@pvagnini font-awesome aren't included by default now. You need to follow [cli wiki](https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/include-font-awesome.md) to add them in this project.

[2018-02-02 12:58] PinpointTownes commented on #197
@asadsahi apps must now be granted permissions to be able to use an OIDC/OAuth2 feature. To fix the error reported by @pvagnini, you'll have to update [`AddOpenIdConnectOptions`](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/SeedDbData.cs#L102):

[code]

Cheers

[2018-02-02 23:22] asadsahi commented on #197
@PinpointTownes cannot resolve Permission property.

![image](https://user-images.githubusercontent.com/3470892/35759188-edd40252-086f-11e8-8bd0-dfb118919603.png)

[2018-02-02 23:27] PinpointTownes commented on #197
Did you restore? These things are included in the latest version.

FYI I wrote a migration guide: https://openiddict.github.io/openiddict-documentation/guide/migration.html

[2018-02-02 23:31] asadsahi commented on #197
Ahhh, apologies, had to restore form non-nuget feed :)

Sorted through [this](https://github.com/asadsahi/AspNetCoreSpa/commit/9fb4eab30979ae2d5ed30030ba98d2aafce7cbbc).

[2018-02-02 23:31] #197 closed

[2018-02-03 00:27] asadsahi commented on #199
@pvagnini sorry, didn't realise that font-awesome are still being used in this project. There seems to be an issue with latest version of angular cli (i.e 1.7.0-beta3). I have raised an issue with them. Raised an [issue](https://github.com/angular/angular-cli/issues/9496) with cli team.

[2018-02-03 11:29] pvagnini commented on #199
Thanks @asadsahi,

I think there may be some issues with boostrap in general as well.

Currently page renders as this;
![image](https://user-images.githubusercontent.com/30579629/35766686-452b4962-0928-11e8-9273-4dc827ee294f.png)

Exact same code in previous non-cli version renders as this;
![image](https://user-images.githubusercontent.com/30579629/35766738-50f36f4e-0929-11e8-9e8e-4ead157b8dcf.pn

[2018-02-03 11:40] asadsahi commented on #199
@pvagnini what bootstrap version are you on? Can you confirm if markup + classes you are using are as per latest bootstrap version. ( You can refer to latest bootstrap examples too ).  There were a lot of changes from alpha to beta transition.

[2018-02-03 19:50] sajidali2444 opened #200 "new AspNetCoreSpa Project"
i just downloaded restore everything but proejct not running thorwing errors on port proxy error.
not working on localhost:26853 and localhost:5000?

An unhandled exception occurred while processing the request.
CurlException: Couldn't connect to server
System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)

HttpRequestException: An error occurred while sending the request.
System.Runtime.E

[2018-02-03 23:42] pvagnini commented on #199
Thanks @asadsahi, you are correct. Another change required with the new verions.
Project moved from Bootstrap v4.0.0-beta.2 to Bootstrap v4.0.0

This means the Boostrap structure for input groups moves from this;
<div class="input-group">
                <span class="input-group-addon">User</span>
                <input type="text" class="form-control" id="userfilter" placeholder="Filter Text"

[2018-02-04 11:46] pvagnini opened #201 "How to report Login Failure"
Hi @asadsahi,

How do I report back login failure and show the error please?

Regards Paolo

[2018-02-04 13:16] Vencalekl commented on #200
I had the same issue with the proxy approach. To make it work comment line spa.UseProxyToSpaDevelopmentServer("http://localhost:4200"); in startup.cs
and use spa.UseAngularCliServer(npmScript: "start");

[2018-02-05 14:29] #198 closed

[2018-02-07 06:45] BunyodUz opened #202 "non-cli can't run"
Hi @asadsahi,
Thank you for great template!

I got a problem with non-cli version.
I'm getting this:

ERROR in [at-loader] ./ClientApp/app/core/services/api-translation-loader.service.ts:7:14
    TS2420: Class 'ApiTranslationLoader' incorrectly implements interface 'TranslateLoader'.
  Types of property 'getTranslation' are incompatible.
    Type '(lang: string) => Observable<StringMap[]>' is not

[2018-02-08 09:12] asadsahi commented on #177
@meninjanho4788 I am playing around with react and have created a fullstack project [here](https://github.com/asadsahi/reactnode-fullstack). That includes pretty much same features as this project. That project is using node as a backed rather .net. But see if you are interested in any of the similar concepts in react+redux.

[2018-02-08 15:41] meninjanho4788 commented on #177
Dear Asad Sahi, i really really thank you.

[2018-02-11 00:15] asadsahi commented on #201
@pvagnini https://github.com/asadsahi/AspNetCoreSpa/commit/9992c46f13fd97cc8edbd1203ffc893d193da349 should fix it, see the changes.

[2018-02-11 00:15] #201 closed

[2018-02-11 00:28] asadsahi commented on #202
@BunyodUz I experienced this on windows 7 machine but while running on windows 10 I can't see this error. Trying to identity the different on these environments. Which env are you on?

BTW, I would encourage you to switch to cli version if there isn't a huge concern. Performance of running cli version of project is largely improved as well.

[2018-02-11 00:33] asadsahi commented on #200
@sajidali2444 angular cli process takes some time to build the project. If you are running npm start in command line, wait for it to finish before you start the .net project using F5 or similar.
See if this fixes your issue.

On the other hand you can change as per @Vencalekl 's instructions to run with single F5 style to run the project.

Closing it for now as there are couple of way to run the p

[2018-02-11 00:33] #200 closed

[2018-02-11 07:57] pvagnini commented on #199
Hi @asadsahi,

I  note with your last project changes that the FontAwsome fonts still don't work, but the error reported in Chrome appear to have changed to;
**_Failed to decode downloaded font: http://localhost:5000/fontawesome-webfont.68560c510686599ffbc9.woff2?v=4.7.0_**

[2018-02-11 09:55] pvagnini opened #204 "Route back to login when Unauthorised access"
Hi @asadsahi,

When a Token is not valid the global-error.service produces a notification of Unathorised which is good.

Is there also a way to route back to the Login screen automatically when this happen please?

Regards Paolo

[2018-02-11 14:20] asadsahi commented on #204
@pvagnini [here ](https://github.com/asadsahi/ngnode-fullstack/blob/master/src/app/core/services/global-error.service.ts#L12)is your clue.

Happy to have a pull request :)

[2018-02-12 18:16] sfrjrs commented on #200
@Vencalekl @asadsahi - Thank you. The above fix worked.

[2018-02-13 04:48] sajidali2444 commented on #200
Thanks @Vencalekl , @asadsahi  its working now.

[2018-02-17 18:48] Vencalekl opened #205 "DataService.Get() HttpParams always empty"
In DataService, get method calls buildUrlSearchParams where the httpParams object is set. However, httpParams object is immutable (https://github.com/angular/angular/issues/19044) so after calling of append, it is required to set the object back into the variable, otherwise it is always empty.

To fix the issue, the method should look like this:

[code]

[2018-02-18 13:10] asadsahi commented on #199
@pvagnini [this](https://github.com/asadsahi/AspNetCoreSpa/commit/8717a2056694c05605d305b52248e81ef7a16e3a) should fix it.

[2018-02-18 13:10] #199 closed

[2018-02-18 13:14] asadsahi commented on #205
@Vencalekl thanks for pointing it out. I am guessing changing const to let will do the same trick. Amended it in https://github.com/asadsahi/AspNetCoreSpa/commit/9f0d40df12efd0eca82dee89ae36152417b9fefd. Let me know if it doesn't fix for you.

[2018-02-18 13:14] #205 closed

[2018-02-18 18:15] Vencalekl commented on #205
Just tried it without success. It is still required to re-set the variable. Once the HttpParamas is immutable, I guess there is no other way of doing that.

[2018-02-20 21:40] Trojaner25 opened #206 "Fix swagger"
Please add `Microsoft.AspNetCore.StaticFiles` >= 2.0 to fix it.

Related https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/483

[2018-02-24 11:31] sajidali2444 opened #208 "always showing this Cannot GET /"
any help please its showing me  Cannot GET / i added new folder dashboard and dashboard.component.ts and html file.
not error in console how I can debug this problem.?

[2018-03-03 17:24] asadsahi commented on #206
@Trojaner25 have you encountered any issue with current swagger implementation?

[2018-03-03 18:35] Trojaner25 commented on #206
Yes, altough I fixed it for myself using this

[2018-03-09 13:19] WanjyDan opened #209 "Launch the ClientApp when the you run the Web API"
How can you launch the ClientApp when the Web API start running instead of running them separately

[2018-03-09 20:59] #209 closed

[2018-03-14 20:40] crh225 opened #210 "SignlR broken on demo site"
Hi Asad,
When I go to the demo site, and type any message, I am getting the following error:
![image](https://user-images.githubusercontent.com/19475195/37429675-115b9eb8-279e-11e8-9bbb-42b86a36a4a3.png)

[2018-03-19 15:09] kmiskiewicz opened #211 "Cookie or Authorization barrer token in auth-interceptor.ts"
Hi Asad,

I hope you are well, I was going trough the code and in the  auth-interceptor.ts I found something which I have problem to figure out. Why we have if statement on two not related things: culture and bearer token?

`    if (isPlatformServer(this.platformId)) {
            headers = req.headers.set('Cookie', this.getCultureCookie());
        } else {
            headers = req.headers.set('

[2018-03-20 11:53] asadsahi commented on #211
@kmiskiewicz this logic says that only send cookies if environment is server, and only attach Authorization header if it is browser environment.

This code was added in order to prepare project for SSR, but in current master SSR isn't implemented fully because of some issues with it. I have simplified this logic, see [this](https://github.com/asadsahi/AspNetCoreSpa/commit/64975c58f7dd4c349de3facf5

[2018-03-20 11:53] #211 closed

[2018-03-20 12:15] asadsahi commented on #208
@sajidali2444 you need to provide much more details when asking questions or raising an issue.

If you are having an issue with any parts of application or something that you are building, the depth of understanding to which anyone can have guesses is minimal without looking at what the error is. The error that you are describing is quite abstract and not sure what can cause a get request to fail.

[2018-03-20 12:15] #208 closed

[2018-03-20 12:16] asadsahi commented on #202
Closing it for now on the bases of more information needed.

[2018-03-20 12:16] #202 closed

[2018-03-20 12:20] asadsahi commented on #158
Basic idea of releases is started with first version tagged. I will try to keep it more up to date and also would like to version based on Semver. Need to investigate if there is an automated way to version the code in github. But for now I will try to put some release numbers manually. Open for any further suggestions and improvements.

Closing it for now.

[2018-03-20 12:20] #158 closed

[2018-03-20 17:22] asadsahi commented on #210
@crh225 it should be fixed as part of this https://github.com/asadsahi/AspNetCoreSpa/commit/cb241be7de16176fb3d43433598ac76fe8adf05f and site is good for chat demo as well.

[2018-03-20 17:22] #210 closed

[2018-03-20 17:25] asadsahi commented on #206
@Trojaner25 swagger page is currently visible without this package. Have you tried running the project in current state and see what isn't appearing and elaborate the issue in a little detail.

[2018-03-20 17:48] Trojaner25 commented on #206
I will close the issue if its visible now (it was completely broken for me back then, but maybe I broke something?)

[2018-03-20 17:48] #206 closed

[2018-03-20 18:09] crh225 opened #212 "Language selection does not work"
Click on flag

![image](https://user-images.githubusercontent.com/19475195/37674035-d96aa246-2c3f-11e8-9bc2-
e942d971afcd.png)

![image](https://user-images.githubusercontent.com/19475195/37674066-f142b408-2c3f-11e8-9bdd-06da1d313991.png)

[2018-03-20 18:10] crh225 commented on #212
![image](https://user-images.githubusercontent.com/19475195/37674111-0d7c39be-2c40-11e8-9644-bb601abefc2d.png)

[2018-03-21 08:53] kmiskiewicz commented on #211
Thank you, I didn't check the new dev version my bad, I'll observe the dev branch as well, really great job!

[2018-03-22 09:15] asadsahi commented on #212
@crh225 I suspect this is because of service worker intercepting/caching language change requests. Will investigate this.

[2018-03-28 10:06] ammard2u opened #214 "oAuthService getIdentityClaims null"
Hi, I'm getting null value when getting the identityClaims after the login, can anyone help?

[2018-03-30 19:06] asadsahi commented on #214
@ammard2u are you getting null value for existing claims or you have added another claim in IdentityClaims?

[2018-04-02 00:19] raasforce opened #215 "lookup data"
hi asad

[2018-04-02 00:45] ammard2u commented on #214
we added another claim

[2018-04-04 11:44] asadsahi commented on #215
closing as the intention for this issue is unclear.

[2018-04-04 11:44] #215 closed

[2018-04-19 09:12] TashaRolland92 commented on #104
@sylvaincaillot THANKING YOU! New to this and you have saved the day haha

[2018-05-06 16:39] sajidali2444 opened #217 "angular 6 upgrade following error"
@asadsahi
An unhandled exception occurred while processing the request.
SocketException: No connection could be made because the target machine actively refused it
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken cancellationToken)

HttpRequestException: No connection could be made because the target machine actively refused it
System.Net.Http.ConnectHelper.Conne

[2018-05-11 18:26] asadsahi commented on #217
upgraded to angular 6 now.

[2018-05-11 18:26] #217 closed

[2018-05-11 18:28] #204 closed

[2018-05-15 01:37] djarekg opened #218 "Feature: HMR support"
Add hmr support using spa.UseAngularCliServer(npmScript: "start")

[2018-05-15 21:20] leniel opened #219 "HTTP Error 502.5 - Process Failure"
Right now, the app https://aspnetcorespa.azurewebsites.net/ is showing an error. This is the same error I'm seeing in Visual Studio when I try to debug the app with the current source code.

HTTP Error 502.5 - Process Failure

Common causes of this issue:
The application process failed to start
The application process started but then stopped
The application process started but failed to listen on

[2018-05-15 21:47] leniel commented on #219
I was able to solve my problem when running in Visual Studio 15.7.1.

Had to install dotnet-sdk-2.1.300-rc1-008673-win-x64.

https://www.microsoft.com/net/download/dotnet-sdk-2.1.300-rc1-windows-x64-installer

[2018-05-15 21:47] #219 closed

[2018-05-21 03:14] ElderJames opened #220 "Fail to run"

[2018-05-28 14:12] im-siva commented on #217
SocketException: No connection could be made because the target machine actively refused it
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken cancellationToken)

HttpRequestException: No connection could be made because the target machine actively refused it
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken cancellationToken)

Htt

[2018-05-28 14:18] im-siva opened #222 "When run npm run start getting this error"
main.js:953 Error: Uncaught (in promise): HttpErrorResponse: {"headers":{"normalizedNames":{},"lazyUpdate":null},"status":404,"statusText":"Not Found","url":"http://localhost:4200/api/applicationdata","ok":false,"name":"HttpErrorResponse","message":"Http failure response for http://localhost:4200/api/applicationdata: 404 Not Found","error":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charse

[2018-05-29 18:34] asadsahi commented on #222
@im-siva are you running backend of this project?

By default when you try to run this project you need to run client in a separate window and then run backend with F5 command either in VS code or IDE. What you described sounds like backend isn't available.

[2018-05-29 18:53] sajidali2444 opened #223 "typing.d.ts"
@asadsahi  can you help me, please

i want to import model reference in this file but this gives me error I need to implicitly add a typing.d.ts reference in each file.
because i need load application data on initial page load.
import { Category, IPostModel, City } from './app/shared/models/post.model';
/* SystemJS module definition */
declare var module: NodeModule;
declare var global: NodeJS.Glo